# Conduct a public health study

## Task 2 : Data Discovery

Import data

In [9]:
%pylab inline

import numpy as np
import pandas as pd
import seaborn as sns

veg = pd.read_csv('../data/categories/FAOSTAT_data_vegetable.csv')
ani = pd.read_csv('../data/categories/FAOSTAT_data_Animal.csv')
und = pd.read_csv('../data/categories/FAOSTAT_data_undernurische.csv')
pop = pd.read_csv('../data/categories/FAOSTAT_data_population.csv')
cereal_list = pd.read_csv('../data/categories/FAOSTAT_data_cereals.csv')

Populating the interactive namespace from numpy and matplotlib

In [10]:
veg.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),2,Afghanistan,5511,Production,2511,Wheat and products,2013,2013,1000 tonnes,5169.0,S,Standardized data
1,FBSH,Food Balances (old methodology and population),2,Afghanistan,5611,Import Quantity,2511,Wheat and products,2013,2013,1000 tonnes,1173.0,S,Standardized data
2,FBSH,Food Balances (old methodology and population),2,Afghanistan,5072,Stock Variation,2511,Wheat and products,2013,2013,1000 tonnes,-350.0,S,Standardized data
3,FBSH,Food Balances (old methodology and population),2,Afghanistan,5301,Domestic supply quantity,2511,Wheat and products,2013,2013,1000 tonnes,5992.0,S,Standardized data
4,FBSH,Food Balances (old methodology and population),2,Afghanistan,5527,Seed,2511,Wheat and products,2013,2013,1000 tonnes,322.0,S,Standardized data

In [11]:
ani.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),2,Afghanistan,5511,Production,2731,Bovine Meat,2013,2013,1000 tonnes,134.00,S,Standardized data
1,FBSH,Food Balances (old methodology and population),2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2013,2013,1000 tonnes,6.00,S,Standardized data
2,FBSH,Food Balances (old methodology and population),2,Afghanistan,5301,Domestic supply quantity,2731,Bovine Meat,2013,2013,1000 tonnes,140.00,S,Standardized data
3,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2731,Bovine Meat,2013,2013,1000 tonnes,140.00,S,Standardized data
4,FBSH,Food Balances (old methodology and population),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2013,2013,kg,4.59,Fc,Calculated data

In [12]:
und.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,19992001,1999-2001,millions,9.3,F,FAO estimate,NaN
1,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20002002,2000-2002,millions,9.8,F,FAO estimate,NaN
2,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20012003,2001-2003,millions,9.6,F,FAO estimate,NaN
3,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20022004,2002-2004,millions,9.2,F,FAO estimate,NaN
4,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20032005,2003-2005,millions,8.7,F,FAO estimate,NaN

In [13]:
pop.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBSH,Food Balances (old methodology and population),3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBSH,Food Balances (old methodology and population),4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBSH,Food Balances (old methodology and population),7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBSH,Food Balances (old methodology and population),8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data

In [14]:
cereal_list.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2511,Wheat and products,2013,2013,1000 tonnes,708443,A,"Aggregate, may include official, semi-official..."
1,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2805,Rice (Milled Equivalent),2013,2013,1000 tonnes,495447,A,"Aggregate, may include official, semi-official..."
2,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2513,Barley and products,2013,2013,1000 tonnes,142460,A,"Aggregate, may include official, semi-official..."
3,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2514,Maize and products,2013,2013,1000 tonnes,1017031,A,"Aggregate, may include official, semi-official..."
4,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2515,Rye and products,2013,2013,1000 tonnes,16711,A,"Aggregate, may include official, semi-official..."

Remove useless columns

In [15]:
orig_cols = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4',"year","unit","value",'flag','flag_desc']
to_delete = ["xx","xx2","xx3","xx4"]
for df in [veg,ani,und,pop]:
    df.columns = orig_cols
    for col in to_delete:
        del df[col]

ValueError: Length mismatch: Expected axis has 15 elements, new values have 14 elements

Transform column "year" of undernourishment dataframe

In [ ]:
transf = {
    '2004-2006': 2005,
    '2005-2007': 2006,
    '2006-2008': 2007,
    '2007-2009': 2008,
    '2008-2010': 2009,
    '2009-2011': 2010,
    '2010-2012': 2011,
    '2011-2013': 2012,
    '2012-2014': 2013,
    '2013-2015': 2014,
    '2014-2016': 2015,
    '2015-2017': 2016,
    '2016-2018': 2017,
    '2017-2019': 2018,
    '2018-2020': 2019,
}
und["year"] = [transf[v] for v in und["year"].values]
und.head()

***Identify the primary key of each table and test them.***

In [18]:
def check_possible_primary_key(df, columns_pk):
    if len(df) != len(df[columns_pk].drop_duplicates()):
        raise Exception("{} can't be a primary key!".format(columns_pk))  

check_possible_primary_key(veg,["country_code","year","element","item"])
check_possible_primary_key(ani,["country_code","year","element","item"])
check_possible_primary_key(und,["country_code","year"])
check_possible_primary_key(pop,["country_code","year"])

KeyError: "None of [Index(['country_code', 'year'], dtype='object')] are in the [columns]"

***Create a dataframe containing information about each country's population. Calculate the total
number of humans on the planet.***

In [17]:
pop = pop[['country_code', 'country', 'year', 'value', 'flag_desc']]
pop = pop.rename({'value': 'population'}, axis=1)
pop['population'] *= 1000
pop.head()

KeyError: "None of [Index(['country_code', 'country', 'year', 'value', 'flag_desc'], dtype='object')] are in the [columns]"

In [ ]:
pop.groupby(["year","flag_desc"])[["population"]].sum()

Which countries are concerned by *"Aggregate, may include official, semi-official, estimated or calculated data"* ?

In [ ]:
pop[pop['flag_desc'] == "Aggregate, may include official, semi-official, estimated or calculated data"]

There is a redundancy in the country codes : 351 (China) aggregates countries 96, 128, 41, 214 :

In [ ]:
pop[pop['country_code'].isin([96, 128, 41, 214])]

In [ ]:
pop[pop['country_code'].isin([96, 128, 41, 214])]['population'].sum()

In [ ]:
total_pop = pop[pop.flag_desc == "Official data"].groupby("year")["population"].sum()
total_pop

***Among the documents on the Food Balance Sheets that you have downloaded, you will nd
redundant information concerning the 11 elements. Identify these redundancies and give your
answer as a mathematical formula. Have a look at the Food Balance Sheets then click on
“definitions and standards”
The expected formula is a simple three term equation involving each of the 11 amounts seen
above: a1+a2+[...]=b1+[...]=c1+c2+[...] . For this equation, give the example of wheat in France.***

In [ ]:
ani["origin"] = "animal"
veg["origin"] = "vegetal"

data = ani.append(veg)

del veg, ani

# pivot table
data = data.pivot_table(index=["country_code","country","item_code","item","year","origin"], values=["value"], aggfunc=sum, columns = ["element"])
data.columns = ['Domestic supply quantity', 'Export Quantity', 'Feed', 'Food', 'Food supply (kcal/capita/day)', 'Food supply quantity (kg/capita/yr)', 'Import Quantity', 'Other uses', 'Processing', 'Production', 'Protein supply quantity (g/capita/day)', 'Seed', 'Stock Variation', 'Waste']
data = data.reset_index()

data = data.fillna(0)

data.head()

In [ ]:
tmp = data[(data.country=="France") & (data.item_code==2511)].iloc[0]
tmp
print("Wheat in France :")
print(tmp["Production"] + tmp["Import Quantity"] - tmp["Export Quantity"] + tmp["Stock Variation"])
print(tmp["Domestic supply quantity"])
print(tmp["Seed"] + tmp["Waste"] + tmp["Food"] + tmp["Feed"] + tmp["Processing"] + tmp["Other uses"])

Verififcation for every country and every item :

In [ ]:
data["tmp1"] = data['Production'] + data['Import Quantity'] - data['Export Quantity'] + data['Stock Variation']
data["tmp2"] = data['Domestic supply quantity']
data["tmp3"] = data['Feed'] + data['Food'] + data['Other uses'] + data['Processing'] + data['Seed'] + data['Waste']
print((data['tmp1'] - data['tmp2']))
print((data['tmp2'] - data['tmp3']))

In [ ]:
del data["tmp1"]
del data["tmp2"]
del data["tmp3"]

## Task 3 : Data Cleaning

***Create the dataframe from the updated FAO data and ensure that it ts Paul’s dataframe
structure.***

In [ ]:
data = data.rename({
        'Domestic supply quantity': 'domestic_supply_quantity', 
        'Export Quantity': 'export_quantity', 
        'Feed': 'feed', 
        'Food':'food',
        'Food supply (kcal/capita/day)': 'food_supply_kcalcapitaday', 
        'Food supply quantity (kg/capita/yr)': 'food_supply_quantity_kgcapitayr',
        'Import Quantity': 'import_quantity', 
        'Other uses': 'other_uses', 
        'Processing': 'processing', 
        'Production': 'production',
        'Protein supply quantity (g/capita/day)': 'protein_supply_quantity_gcapitaday', 
        'Seed': 'seed', 
        'Stock Variation': 'stock_variation',
        'Waste': 'waste'
    }, 
    axis=1)

data.head()

***Do the necessary cleaning (delete useless rows, correct any potential anomalies found when
calculating the total population, etc.)***

In [ ]:
data = data[~data.country_code.isin([96, 128, 41, 214])]
und = und[~und.country_code.isin([96, 128, 41, 214])]
pop = pop[~pop.country_code.isin([96, 128, 41, 214])]

## Task 4 : Computing new variables
***Calculate the variables for each country/item/year trio.***

Add the population the the main data

In [ ]:
if 'population' not in data.columns:
    data = pd.merge(data, pop, on=['country_code','country','year'], how='left')
    del data["flag_desc"]
data.head()

***food_supply_kcal and food_supply_kgprotein***

In [ ]:
data["food_supply_kcal"] = data["food_supply_kcalcapitaday"] * data["population"] * 365
data["food_supply_kgprotein"] = data["protein_supply_quantity_gcapitaday"] * 0.001 * data["population"] * 365
data.head()

***food_supply_kg***

In [ ]:
data["food_supply_kg"] = data["food"] * 1000000

***ratio_kcalkg and protein_percentage***

In [ ]:
mask = data["food_supply_kg"] != 0 # because it's npt possible to divide by 0
data.loc[mask, 'ratio_kcalkg'] = data.loc[mask, "food_supply_kcal"] / data.loc[mask, "food_supply_kg"]
data.loc[mask, 'protein_percentage'] = 100 * data.loc[mask, "food_supply_kgprotein"] / data.loc[mask, "food_supply_kg"]

***dom_sup_kcal and dom_sup_kgprot***

In [ ]:
data["dom_sup_kcal"] = data["domestic_supply_quantity"] * 1000000 * data["ratio_kcalkg"]
data["dom_sup_kgprot"] = data["domestic_supply_quantity"] * 1000000 * data["protein_percentage"] * .01

***great_import_from_undern_countries***

From the FAO Food Security Indicators, find the countries with a malnourishment rate of more than 10%

In [ ]:
undernourishment = und[['country_code', 'country', 'year', 'value']].copy()
undernourishment["value"] *= 1000000
undernourishment = undernourishment.rename({"value": "nb_people_undern"}, axis=1)
undernourishment = pd.merge(undernourishment, pop[['country_code','year','population']], on=['country_code','year'])
undernourishment["undern_percentage"] = 100 * undernourishment["nb_people_undern"] / undernourishment["population"]
undernourishment["undern_10%"] = undernourishment["undern_percentage"] >= 10
undernourishment.sort_values("undern_percentage",ascending=False).head()

Find the 25 most exported items (in terms of quantity) by these countries for any given year).

In [ ]:
selected_year = 2013

undern_countries = undernourishment.loc[undernourishment["undern_10%"],"country_code"]
und_data = data[(data.country_code.isin(undern_countries)) & (data.year == selected_year)].copy()
und_data = und_data.groupby(["item_code","item","year"])['domestic_supply_quantity', 'export_quantity',
       'feed', 'food', 'import_quantity', 'other_uses',
       'processing', 'production', 
       'seed', 'stock_variation', 'waste', 'food_supply_kcal',
       'food_supply_kg'].sum()
und_data = und_data.reset_index()
und_data = und_data.sort_values("export_quantity",ascending=False)
                               
most_exported_products = und_data.iloc[:25]["item"].values
most_exported_products

From the global food balance sheet data, select the 200 highest import quantities among these 25 items (1 import quantity = quantity of a given product imported by a given country over the selected year).

In [ ]:
imp = data[(data.item.isin(most_exported_products)) & (data.year == selected_year)]
imp = imp.sort_values("import_quantity",ascending=False)
imp = imp.reset_index()
imp["great_import_from_undern_countries"] = imp.index < 200
imp.head()

## Task 5 : Identify major trends
***Considering only plant products, what proportion of the global domestic supply is used as :
food,
feed,
waste,
other uses***

In [ ]:
vegetal = data[data["origin"] == "vegetal"]
global_data = vegetal.groupby("year").sum()
global_data[['food','feed','waste','other_uses']] / global_data['domestic_supply_quantity'].iloc[0]

***How many humans on earth could be fed if all the plant-based food supply (crops), including food
and feed, was used for human consumption? Give the results in terms of calories, and protein.
Express these two results as a percentage of the world's population.***

In [ ]:
# number of kcal per person per day (according to FAO)
NB_KCAL_PER_CAPITA_PER_DAY = 2500
# quantity of protein per person per day :  0.9 g/body_weight_kg/day
# average body weight 62kg (https://en.wikipedia.org/wiki/Human_body_weight)
KG_PROT_PER_CAPITA_PER_DAY = 62 * .0009

data["food_feed_kcal"] = data[["food","feed"]].sum(axis=1) * 1000000 * data["ratio_kcalkg"]
data["food_feed_kgprot"] = data[["food","feed"]].sum(axis=1) * 1000000 * data["protein_percentage"] * .01

vegetal = data[data["origin"] == "vegetal"]

ff_kcal = vegetal.groupby("year")["food_feed_kcal"].sum()
ff_kgprot = vegetal.groupby("year")["food_feed_kgprot"].sum()
quantities = pd.DataFrame({"foodfeed_kcal": ff_kcal, "foodfeed_kgprot": ff_kgprot})
quantities

In [ ]:
tmp = quantities / [NB_KCAL_PER_CAPITA_PER_DAY,KG_PROT_PER_CAPITA_PER_DAY] / 365
tmp.columns = ['energy_nb_humans_fed', 'proteins_nb_humans_fed']
tmp = pd.concat([tmp,total_pop], axis=1)
tmp["energy_percentage_humans_fed"] = round(100*tmp['energy_nb_humans_fed'] / tmp["population"])
tmp["proteins_percentage_humans_fed"] = round(100*tmp['proteins_nb_humans_fed'] / tmp["population"])
del tmp["population"]
tmp

***How many humans could be fed with the global food supply? Give the results in terms of calories
and protein. Express these two results as a percentage of the world's population.***

In [ ]:
fs_kcal = data.groupby("year")["food_supply_kcal"].sum()
fs_kgprot = data.groupby("year")["food_supply_kgprotein"].sum()
quantities = pd.DataFrame({"fs_kcal": fs_kcal, "fs_kgprot": fs_kgprot})

tmp = quantities / [NB_KCAL_PER_CAPITA_PER_DAY,KG_PROT_PER_CAPITA_PER_DAY] / 365
tmp.columns = ['energy_nb_humans_fed', 'proteins_nb_humans_fed']
tmp = pd.concat([tmp,total_pop], axis=1)
tmp["energy_percentage_humans_fed"] = round(100*tmp['energy_nb_humans_fed'] / tmp["population"])
tmp["proteins_percentage_humans_fed"] = round(100*tmp['proteins_nb_humans_fed'] / tmp["population"])
del tmp["population"]
tmp

***From the collected data on malnutrition, what proportion of the world's population is considered
malnourished?***

In [ ]:
nb_undern = und.groupby('year')["value"].sum() * 1000000

In [ ]:
round(100 * nb_undern / total_pop)

***Considering the 25 items most exported by the countries with a high rate of malnourishment,
which three of them:
Have the greatest other_uses to domestic_supply_quantity ratio and what are they used for?
Have the greatest feed to (food+feed) ratio and what are they used for?***

In [ ]:
imp = imp.groupby(["item_code","item"]).sum()

imp["other_uses_%"]  = imp['other_uses']/imp['domestic_supply_quantity']
imp["feed_vs_food"]  = imp['feed']/(imp['feed']+imp['food'])

imp.sort_values("other_uses_%", ascending = False).iloc[:3]

In [ ]:
imp.sort_values("feed_vs_food", ascending = False).iloc[:3]

***Taking only gains for food and feed into account, what proportion (in terms of weight) is used for
feed?***

In [ ]:
data["is_cereal"] = data.item_code.isin(cereal_list['Item Code'].values)
data.head()

In [ ]:
food_cer = data.loc[data.is_cereal,"food"].sum()
feed_cer = data.loc[data.is_cereal,"feed"].sum()
print("{}%".format(round(100*feed_cer/(food_cer+feed_cer))))