In [92]:
import pandas as pd
import numpy as np
#import seaborn as sn

# Task 1 : Data Collection
**importing data sets**

In [93]:
data_crops = pd.read_csv('../data/new_FAO_methodology/FAOSTAT_data_cereals_8-24-2020-3.csv')
data_vegetables = pd.read_csv('../data/new_FAO_methodology/FAOSTAT_data_vegetable_8-24-2020-5.csv')
data_animals = pd.read_csv('../data/new_FAO_methodology/FAOSTAT_data_animal_8-24-2020.csv')
data_population = pd.read_csv('../data/new_FAO_methodology/FAOSTAT_data_population_8-24-2020.csv')
data_undernourished = pd.read_csv('../data/new_FAO_methodology/FAOSTAT_data_undernourished_8-24-2020-4.csv')

## Analysis

In [94]:
data_crops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   9 non-null      object
 1   Domain        9 non-null      object
 2   Area Code     9 non-null      int64
 3   Area          9 non-null      object
 4   Element Code  9 non-null      int64
 5   Element       9 non-null      object
 6   Item Code     9 non-null      int64
 7   Item          9 non-null      object
 8   Year Code     9 non-null      int64
 9   Year          9 non-null      int64
 10  Unit          9 non-null      object
 11  Value         9 non-null      int64
dtypes: int64(6), object(6)
memory usage: 992.0+ bytes

In [95]:
data_crops.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,FBS,New Food Balances,5000,World,5511,Production,2511,Wheat and products,2017,2017,1000 tonnes,771775
1,FBS,New Food Balances,5000,World,5511,Production,2805,Rice and products,2017,2017,1000 tonnes,767558
2,FBS,New Food Balances,5000,World,5511,Production,2513,Barley and products,2017,2017,1000 tonnes,148111
3,FBS,New Food Balances,5000,World,5511,Production,2514,Maize and products,2017,2017,1000 tonnes,1161299
4,FBS,New Food Balances,5000,World,5511,Production,2515,Rye and products,2017,2017,1000 tonnes,13760

In [96]:
data_crops.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
4,FBS,New Food Balances,5000,World,5511,Production,2515,Rye and products,2017,2017,1000 tonnes,13760
5,FBS,New Food Balances,5000,World,5511,Production,2516,Oats,2017,2017,1000 tonnes,26158
6,FBS,New Food Balances,5000,World,5511,Production,2517,Millet and products,2017,2017,1000 tonnes,28452
7,FBS,New Food Balances,5000,World,5511,Production,2518,Sorghum and products,2017,2017,1000 tonnes,56610
8,FBS,New Food Balances,5000,World,5511,Production,2520,"Cereals, Other",2017,2017,1000 tonnes,32443

In [97]:
print( 'Crops has only one element:', data_crops.Element.unique())

Crops has only one element: ['Production']

In [98]:
print('All items:', data_crops.Item.unique())

All items: ['Wheat and products' 'Rice and products' 'Barley and products'
 'Maize and products' 'Rye and products' 'Oats' 'Millet and products'
 'Sorghum and products' 'Cereals, Other']

In [99]:
print('Number of items:', len(data_crops.Item.unique()))

Number of items: 9

In [100]:
print('Area or country aggregate World + Total:', data_crops.Area.unique())

Area or country aggregate World + Total: ['World']

In [101]:
print('Years:', data_crops.Year.unique())

Years: [2017]

In [102]:
data_vegetables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137007 entries, 0 to 137006
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Domain Code   137007 non-null  object
 1   Domain        137007 non-null  object
 2   Area Code     137007 non-null  int64
 3   Area          137007 non-null  object
 4   Element Code  137007 non-null  int64
 5   Element       137007 non-null  object
 6   Item Code     137007 non-null  int64
 7   Item          137007 non-null  object
 8   Year Code     137007 non-null  int64
 9   Year          137007 non-null  int64
 10  Unit          137007 non-null  object
 11  Value         137007 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 12.5+ MB

In [103]:
data_vegetables.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,FBS,New Food Balances,2,Afghanistan,5511,Production,2511,Wheat and products,2017,2017,1000 tonnes,4281.0
1,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2511,Wheat and products,2017,2017,1000 tonnes,2302.0
2,FBS,New Food Balances,2,Afghanistan,5072,Stock Variation,2511,Wheat and products,2017,2017,1000 tonnes,-119.0
3,FBS,New Food Balances,2,Afghanistan,5911,Export Quantity,2511,Wheat and products,2017,2017,1000 tonnes,0.0
4,FBS,New Food Balances,2,Afghanistan,5301,Domestic supply quantity,2511,Wheat and products,2017,2017,1000 tonnes,6701.0

In [104]:
data_vegetables.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
137002,FBS,New Food Balances,181,Zimbabwe,5142,Food,2899,Miscellaneous,2017,2017,1000 tonnes,19.00
137003,FBS,New Food Balances,181,Zimbabwe,645,Food supply quantity (kg/capita/yr),2899,Miscellaneous,2017,2017,kg,1.33
137004,FBS,New Food Balances,181,Zimbabwe,664,Food supply (kcal/capita/day),2899,Miscellaneous,2017,2017,kcal/capita/day,1.00
137005,FBS,New Food Balances,181,Zimbabwe,674,Protein supply quantity (g/capita/day),2899,Miscellaneous,2017,2017,g/capita/day,0.04
137006,FBS,New Food Balances,181,Zimbabwe,684,Fat supply quantity (g/capita/day),2899,Miscellaneous,2017,2017,g/capita/day,0.02

In [105]:
print( 'Vegetable elements:', data_vegetables.Element.unique())

Vegetable elements: ['Production' 'Import Quantity' 'Stock Variation' 'Export Quantity'
 'Domestic supply quantity' 'Feed' 'Seed' 'Losses' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Food supply (kcal/capita/day)'
 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Processing' 'Other uses (non-food)'
 'Tourist consumption']

In [106]:
print('Number of elements:', len(data_vegetables.Element.unique()))

Number of elements: 17

In [107]:
print('All items:', data_vegetables.Item.unique())

All items: ['Wheat and products' 'Rice and products' 'Barley and products'
 'Maize and products' 'Rye and products' 'Oats' 'Millet and products'
 'Sorghum and products' 'Cereals, Other' 'Potatoes and products' 'Yams'
 'Roots, Other' 'Sugar cane' 'Sugar beet' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Beans' 'Peas' 'Pulses, Other and products'
 'Nuts and products' 'Soyabeans' 'Groundnuts (Shelled Eq)'
 'Sunflower seed' 'Rape and Mustardseed' 'Cottonseed'
 'Coconuts - Incl Copra' 'Sesame seed' 'Olives (including preserved)'
 'Oilcrops, Other' 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil'
 'Rape and Mustard Oil' 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil'
 'Coconut Oil' 'Sesameseed Oil' 'Olive Oil' 'Ricebran Oil'
 'Maize Germ Oil' 'Oilcrops Oil, Other' 'Tomatoes and products' 'Onions'
 'Vegetables, Other' 'Oranges, Mandarines' 'Lemons, Limes and products'
 'Grapefruit and products' 'Citrus, Other' 'Bananas' 'Apples and products'
 'Pineapples and products' 'Dates' 'Grapes and products (excl wine)'
 'Fruits, Other' 'Coffee and products' 'Cocoa Beans and products'
 'Tea (including mate)' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other' 'Wine'
 'Beer' 'Beverages, Fermented' 'Beverages, Alcoholic' 'Alcohol, Non-Food'
 'Infant food' 'Miscellaneous' 'Cassava and products' 'Sweet potatoes'
 'Palm kernels' 'Plantains' 'Sugar non-centrifugal']

In [108]:
print('Number of items:', len(data_vegetables.Item.unique()))

Number of items: 75

In [109]:
print('Area or countries:', data_vegetables.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [110]:
print('Area or countries amount to:', len(data_vegetables.Area.unique()))

Area or countries amount to: 173

In [111]:
print('Years:', data_vegetables.Year.unique())

Years: [2017]

In [112]:
data_animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40950 entries, 0 to 40949
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   40950 non-null  object
 1   Domain        40950 non-null  object
 2   Area Code     40950 non-null  int64
 3   Area          40950 non-null  object
 4   Element Code  40950 non-null  int64
 5   Element       40950 non-null  object
 6   Item Code     40950 non-null  int64
 7   Item          40950 non-null  object
 8   Year Code     40950 non-null  int64
 9   Year          40950 non-null  int64
 10  Unit          40950 non-null  object
 11  Value         40950 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 3.7+ MB

In [113]:
data_animals.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,FBS,New Food Balances,2,Afghanistan,5511,Production,2731,Bovine Meat,2017,2017,1000 tonnes,94.0
1,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2017,2017,1000 tonnes,6.0
2,FBS,New Food Balances,2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2017,2017,1000 tonnes,-0.0
3,FBS,New Food Balances,2,Afghanistan,5301,Domestic supply quantity,2731,Bovine Meat,2017,2017,1000 tonnes,100.0
4,FBS,New Food Balances,2,Afghanistan,5123,Losses,2731,Bovine Meat,2017,2017,1000 tonnes,5.0

In [114]:

data_animals.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
40945,FBS,New Food Balances,181,Zimbabwe,5142,Food,2775,Aquatic Plants,2017,2017,1000 tonnes,0.0
40946,FBS,New Food Balances,181,Zimbabwe,645,Food supply quantity (kg/capita/yr),2775,Aquatic Plants,2017,2017,kg,0.0
40947,FBS,New Food Balances,181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2017,2017,kcal/capita/day,0.0
40948,FBS,New Food Balances,181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2017,2017,g/capita/day,0.0
40949,FBS,New Food Balances,181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2017,2017,g/capita/day,0.0

In [115]:
print( 'Animal elements:', data_animals.Element.unique())

Animal elements: ['Production' 'Import Quantity' 'Stock Variation'
 'Domestic supply quantity' 'Losses' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Food supply (kcal/capita/day)'
 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Export Quantity' 'Feed' 'Seed'
 'Other uses (non-food)' 'Processing' 'Tourist consumption']

In [116]:
print('Number of elements:', len(data_animals.Element.unique()))

Number of elements: 17

In [117]:
print('All items:', data_animals.Item.unique())

All items: ['Bovine Meat' 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other'
 'Offals, Edible' 'Butter, Ghee' 'Cream' 'Fats, Animals, Raw' 'Eggs'
 'Milk - Excluding Butter' 'Freshwater Fish' 'Fish, Body Oil'
 'Fish, Liver Oil' 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other'
 'Crustaceans' 'Cephalopods' 'Molluscs, Other' 'Aquatic Animals, Others'
 'Aquatic Plants' 'Meat, Aquatic Mammals']

In [118]:
print('Area or countries:', data_vegetables.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [119]:
print('Area or countries amount to:', len(data_vegetables.Area.unique()))

Area or countries amount to: 173

In [120]:
print('Years:', data_vegetables.Year.unique())

Years: [2017]

In [121]:
data_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   171 non-null    object
 1   Domain        171 non-null    object
 2   Area Code     171 non-null    int64
 3   Area          171 non-null    object
 4   Element Code  171 non-null    int64
 5   Element       171 non-null    object
 6   Item Code     171 non-null    int64
 7   Item          171 non-null    object
 8   Year Code     171 non-null    int64
 9   Year          171 non-null    int64
 10  Unit          171 non-null    object
 11  Value         171 non-null    float64
dtypes: float64(1), int64(5), object(6)
memory usage: 16.2+ KB

In [122]:
data_population.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,FBS,New Food Balances,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,36296.11
1,FBS,New Food Balances,3,Albania,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,2884.17
2,FBS,New Food Balances,4,Algeria,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,41389.19
3,FBS,New Food Balances,7,Angola,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,29816.77
4,FBS,New Food Balances,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,95.43

In [123]:
data_population.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
166,FBS,New Food Balances,236,Venezuela (Bolivarian Republic of),511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,29402.48
167,FBS,New Food Balances,237,Viet Nam,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,94600.65
168,FBS,New Food Balances,249,Yemen,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,27834.82
169,FBS,New Food Balances,251,Zambia,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,16853.60
170,FBS,New Food Balances,181,Zimbabwe,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,14236.59

In [124]:
print( 'Population elements:', data_population.Element.unique())

Population elements: ['Total Population - Both sexes']

In [125]:
print('Number of elements:', len(data_population.Element.unique()))

Number of elements: 1

In [126]:
print('All items:', data_population.Item.unique())

All items: ['Population']

In [127]:
print('Area or countries:', data_population.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam' 'Yemen'
 'Zambia' 'Zimbabwe']

In [128]:
print('Area or countries amount to:', len(data_population.Area.unique()))

Area or countries amount to: 171

In [129]:
print('Years:', data_population.Year.unique())

Years: [2017]

In [130]:
data_undernourished.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   1020 non-null   object
 1   Domain        1020 non-null   object
 2   Area Code     1020 non-null   int64
 3   Area          1020 non-null   object
 4   Element Code  1020 non-null   int64
 5   Element       1020 non-null   object
 6   Item Code     1020 non-null   int64
 7   Item          1020 non-null   object
 8   Year Code     1020 non-null   int64
 9   Year          1020 non-null   object
 10  Unit          1020 non-null   object
 11  Value         519 non-null    object
 12  Note          0 non-null      float64
dtypes: float64(1), int64(4), object(8)
memory usage: 103.7+ KB

In [131]:
data_undernourished.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Note
0,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20132015,2013-2015,millions,8.8,NaN
1,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20142016,2014-2016,millions,8.9,NaN
2,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20152017,2015-2017,millions,9.7,NaN
3,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20162018,2016-2018,millions,10.5,NaN
4,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20172019,2017-2019,millions,11.1,NaN

In [132]:
print( 'Population elements:', data_undernourished.Element.unique())

Population elements: ['Value']

In [133]:
print('Number of elements:', len(data_undernourished.Element.unique()))

Number of elements: 1

In [134]:
print('Area or countries:', data_undernourished.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [135]:
print('Area or countries amount to:', len(data_undernourished.Area.unique()))

Area or countries amount to: 204

In [136]:
print('Years:', data_undernourished.Year.unique())

Years: ['2013-2015' '2014-2016' '2015-2017' '2016-2018' '2017-2019']

**Replace NaN with zeros**

In [137]:
data_crops.fillna(0, inplace=True)
data_undernourished.fillna(0, inplace=True)
data_animals.fillna(0, inplace=True)
data_vegetables.fillna(0, inplace=True)
data_population.fillna(0, inplace=True)

**Converting value object dtype to a numerical one.**

In [138]:
data_undernourished.Value = data_undernourished.Value.apply(lambda x: 0.09 if x  == '<0.1' else x)

data_undernourished.Value = data_undernourished.Value.astype(float)

# Task 2 : Data Discovery

In [139]:
# Creating properties Product origin that contain vegetal and animal
data_animals['origin'] = 'animal'
data_vegetables['origin'] = 'vegetal'

**renaming data columns**

In [140]:

col_renamed = {'Domain Code' : 'domain_code','Domain' : 'domain', 'Area Code' : 'country_code',
                           'Area' : 'country', 'Element Code' : 'element_code','Element' : 'element',
                           'Item Code' : 'item_code', 'Item' : 'item', 'Year Code' : 'year_code', 'Year' : 'year',
                           'Unit' : 'unit', 'Value' : 'value', 'Flag' : 'flag', 'Flag Description' : 'flag_description'}


data_crops =  data_crops.rename(columns= col_renamed)
data_vegetables = data_vegetables.rename(columns= col_renamed)
data_animals = data_animals.rename(columns= col_renamed)
data_population = data_population.rename(columns= col_renamed)
data_undernourished = data_undernourished.rename(columns= col_renamed)

In [141]:
# Creating a temporary dataframe combined from vegetables and animals products and rename its column name.
temp = data_animals.append(data_vegetables).rename(columns= col_renamed)

In [142]:
temp.head(10)

,domain_code,domain,country_code,country,element_code,element,item_code,item,year_code,year,unit,value,origin
0,FBS,New Food Balances,2,Afghanistan,5511,Production,2731,Bovine Meat,2017,2017,1000 tonnes,94.00,animal
1,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2017,2017,1000 tonnes,6.00,animal
2,FBS,New Food Balances,2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2017,2017,1000 tonnes,-0.00,animal
3,FBS,New Food Balances,2,Afghanistan,5301,Domestic supply quantity,2731,Bovine Meat,2017,2017,1000 tonnes,100.00,animal
4,FBS,New Food Balances,2,Afghanistan,5123,Losses,2731,Bovine Meat,2017,2017,1000 tonnes,5.00,animal
5,FBS,New Food Balances,2,Afghanistan,5170,Residuals,2731,Bovine Meat,2017,2017,1000 tonnes,-0.00,animal
6,FBS,New Food Balances,2,Afghanistan,5142,Food,2731,Bovine Meat,2017,2017,1000 tonnes,95.00,animal
7,FBS,New Food Balances,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2017,2017,kg,2.61,animal
8,FBS,New Food Balances,2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2017,2017,kcal/capita/day,15.00,animal
9,FBS,New Food Balances,2,Afghanistan,674,Protein supply quantity (g/capita/day),2731,Bovine Meat,2017,2017,g/capita/day,1.09,animal

**Vegetables and animals Summary statistics**

In [143]:
temp.agg({'value': ['min', 'max', 'sum', 'median', 'mean', 'skew', 'count']})

               value
min    -1.038800e+04
max     7.585480e+05
sum     4.430852e+07
median  1.300000e-01
mean    2.489844e+02
skew    7.729947e+01
count   1.779570e+05

## Domestic supply quantity equation

In [144]:
data_france = temp[(temp.country == 'France') & (temp.item == 'Wheat and products')]

In [145]:
# Creating another custom function for selection using function composition.
def dataElementSelection(elementName = ''):
    return np.array(data_france[data_france.loc[:]['element'] == elementName]['value'])

  **Calculating the 4 term equation**

In [146]:
dataElementSelection('Production') + dataElementSelection('Import Quantity') - dataElementSelection('Export Quantity') + \
dataElementSelection('Stock Variation') == dataElementSelection('Domestic supply quantity')

# How is that false now even with the notebook calculation.

# dataElementSelection('Domestic supply quantity') + dataElementSelection('Production') + dataElementSelection('Import Quantity') - \
# dataElementSelection('Export Quantity') + dataElementSelection('Stock Variation') == (dataElementSelection('Seed') + \
# dataElementSelection('Residuals') + dataElementSelection('Food') + dataElementSelection('Feed') + dataElementSelection('Processing') + dataElementSelection('Other uses (non-food)'))

array([False])

## Task 3 : Data Cleaning

In [147]:
# removing hard to read characters from element names.
temp = data_animals.append(data_vegetables)

elements_columns = pd.Series(temp.element.unique()).replace(regex={' ': '_', '[()]': '', '/': '_'}).str.lower()
elements_columns

0                               production
1                          import_quantity
2                          stock_variation
3                 domestic_supply_quantity
4                                   losses
5                                residuals
6                                     food
7        food_supply_quantity_kg_capita_yr
8              food_supply_kcal_capita_day
9     protein_supply_quantity_g_capita_day
10        fat_supply_quantity_g_capita_day
11                         export_quantity
12                                    feed
13                                    seed
14                     other_uses_non-food
15                              processing
16                     tourist_consumption
dtype: object

In [148]:
# Columns selection according to Paul protocol.
# temp.columns = ['xx', 'xx2', 'country_code', 'country', 'xx3', 'element'
# ,'item_code', 'item', 'xx4', 'year', 'unit', "value", 'xx5', 'xx6' , 'origin']

# Creating the main dataFrame pivot table that will be used to Answer most question.
data = temp.pivot_table(
     index=["country_code", "country", "item_code", "item", "year", "origin"],
       columns = ["element"], values=["value"], aggfunc= sum)

# Selecting columns based on elements.
data.columns = elements_columns

In [149]:
# Reset the index based on the pivot table and columns changes.
data = data.reset_index()

**Checking for data anomaly and removing it.**

In [150]:
data

,country_code,country,item_code,item,year,origin,production,import_quantity,stock_variation,domestic_supply_quantity,...,food_supply_quantity_kg_capita_yr,food_supply_kcal_capita_day,protein_supply_quantity_g_capita_day,fat_supply_quantity_g_capita_day,export_quantity,feed,seed,other_uses_non-food,processing,tourist_consumption
0,1,Armenia,2511,Wheat and products,2017,vegetal,558.0,1.0,3.97,105.0,...,337.0,10.0,0.0,60.0,176.0,31.35,-31.0,25.0,-45.0,NaN
1,1,Armenia,2513,Barley and products,2017,vegetal,114.0,0.0,0.02,91.0,...,14.0,10.0,6.0,4.0,93.0,0.15,-12.0,13.0,-7.0,NaN
2,1,Armenia,2514,Maize and products,2017,vegetal,58.0,0.0,0.60,32.0,...,48.0,4.0,NaN,0.0,10.0,2.64,0.0,0.0,1.0,NaN
3,1,Armenia,2515,Rye and products,2017,vegetal,1.0,NaN,0.01,0.0,...,0.0,0.0,NaN,0.0,0.0,0.03,0.0,0.0,0.0,NaN
4,1,Armenia,2516,Oats,2017,vegetal,7.0,NaN,0.12,6.0,...,1.0,0.0,NaN,NaN,6.0,0.26,-2.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16139,351,China,2781,"Fish, Body Oil",2017,animal,83.0,30.0,0.00,8.0,...,63.0,NaN,75.0,NaN,50.0,0.00,NaN,NaN,0.0,NaN
16140,351,China,2782,"Fish, Liver Oil",2017,animal,0.0,1.0,0.00,0.0,...,1.0,NaN,0.0,NaN,0.0,0.00,NaN,NaN,0.0,NaN
16141,351,China,2805,Rice and products,2017,vegetal,215825.0,1793.0,2.86,18357.0,...,6681.0,10423.0,3123.0,256.0,214430.0,15.22,0.0,6802.0,3493.0,-32.0
16142,351,China,2848,Milk - Excluding Butter,2017,animal,37887.0,140.0,2.81,1718.0,...,2740.0,1691.0,10.0,0.0,35309.0,2.72,-446.0,NaN,22.0,-16.0
16143,351,China,2899,Miscellaneous,2017,vegetal,273.0,2097.0,0.00,NaN,...,890.0,NaN,7.0,NaN,1481.0,0.01,0.0,NaN,1.0,-14.0

In [151]:
data.duplicated().sum()

0

In [152]:
data.isnull().sum()

country_code                                0
country                                     0
item_code                                   0
item                                        0
year                                        0
origin                                      0
production                                142
import_quantity                          3936
stock_variation                          1538
domestic_supply_quantity                11910
losses                                   1552
residuals                                1574
food                                     1432
food_supply_quantity_kg_capita_yr         788
food_supply_kcal_capita_day             10270
protein_supply_quantity_g_capita_day    10777
fat_supply_quantity_g_capita_day        12553
export_quantity                          5718
feed                                     1543
seed                                     3492
other_uses_non-food                     14007
processing                               4757
tourist_consumption                     10502
dtype: int64

In [153]:
data.fillna(0, inplace=True)
data.isna().sum()

country_code                            0
country                                 0
item_code                               0
item                                    0
year                                    0
origin                                  0
production                              0
import_quantity                         0
stock_variation                         0
domestic_supply_quantity                0
losses                                  0
residuals                               0
food                                    0
food_supply_quantity_kg_capita_yr       0
food_supply_kcal_capita_day             0
protein_supply_quantity_g_capita_day    0
fat_supply_quantity_g_capita_day        0
export_quantity                         0
feed                                    0
seed                                    0
other_uses_non-food                     0
processing                              0
tourist_consumption                     0
dtype: int64

## total world population

calculating and find anomaly, removing it.

In [154]:
# Using the above selection as mask for filtering the founded anomaly
china =  data_population.loc[data_population.country_code == 351]
# in FAO new methodology data set is this anomaly not present.

**Creating World population constant**

In [155]:
# this value is calculated according to FAO http://faostat.fao.org/static/syb/syb_5000.pdf
# This instead is my calculated value after without China data anomaly.
WORLD_POPULATION = data_population.value.sum() * 1000000 - china.value

In [156]:
# Complete removing the already know data anomaly involved chin and main land china.
#data_population = data_population.drop([30])

data_population.value.sum()

8782494.2

## Task 4 : Computing new variables

In [157]:
# Checking the values of the columns that will be used on this task.
data.loc[:][['food_supply_kcal_capita_day', 'protein_supply_quantity_g_capita_day',
                  'food_supply_quantity_kg_capita_yr', 'fat_supply_quantity_g_capita_day']]

# Merging the county populations values to our major dataframe for further calculations.
data = data.merge(data_population[['country_code', 'value']], on= 'country_code', suffixes=('population', True))

# Renaming its column value to population to be more clear.
data = data.rename(columns={'value': 'population'})

In [158]:
# Calculating all need variables.
data['food_supply_kcal'] = data.food_supply_kcal_capita_day * 365 * data.population
data['food_supply_kgprotein'] = data.protein_supply_quantity_g_capita_day * 365 * data.population / 1000
data['food_supply_kg'] = data.food * np.power(10,6)
mask = data.food_supply_kg != 0
data['ratio_kcalkg'] = data.loc[mask, 'food_supply_kcal'] / data.loc[mask, 'food_supply_kg']
data['protein_percentage'] = data.loc[ mask, 'food_supply_kgprotein'] / data.loc[mask, 'food_supply_kg'] * 100
data['dom_sup_kcal'] = data.domestic_supply_quantity * np.power(10,6) *  data.ratio_kcalkg
data['dom_sup_kgprot'] = data.domestic_supply_quantity * np.power(10,6) *  data.protein_percentage / 100

**Generating great_import_from_undern_countries variable**

In [159]:
# Creating a new Dataframe copy by value so that original will not modified.
undernourished = data_undernourished[['country_code', 'country', 'year', 'value' ]].copy()
# Repassing undernourished based on a specific year in this case 2017.
undernourished = undernourished[(undernourished.year == '2015-2017')]
# Recalculating bade from its unit
undernourished['value'] *= 1000000
# Renaming its value for clarity.
undernourished = undernourished.rename({'value': 'nb_people_under'}, axis= 1)
# Merging it with population based on country code sort that for every county has its population and its undernourished value.
undernourished = pd.merge(undernourished, data_population[['country_code', 'year', 'value']], on= ['country_code'])
# Renaming its value for clarity after merging it with population.
undernourished = undernourished.rename({'value': 'population', 'year_y': 'year'}, axis=1)
# Calculating undernourished in percentage.
undernourished['undern_percentage'] = 100 * undernourished.loc[undernourished.nb_people_under != 0, 'nb_people_under'] / undernourished.population
# Calculating its undernourished under 10 percentage.
undernourished['under_10%'] = undernourished.undern_percentage >= 10

In [160]:
undernourished.sort_values('undern_percentage', ascending=False).head()

,country_code,country,year_x,nb_people_under,year,population,undern_percentage,under_10%
46,55,Dominica,2015-2017,90000.0,2017,71.46,125944.584383,True
133,191,Saint Vincent and the Grenadines,2015-2017,90000.0,2017,109.83,81944.823819,True
85,83,Kiribati,2015-2017,90000.0,2017,114.16,78836.720392,True
69,93,Haiti,2015-2017,5200000.0,2017,10982.37,47348.614188,True
43,116,Democratic People's Republic of Korea,2015-2017,11600000.0,2017,25429.83,45615.719806,True

In [161]:
selected_year = 2017
# Country under the 10% undernourished
under_countries = undernourished.loc[undernourished['under_10%'], 'country_code']
under_data = data[(data.country_code.isin(under_countries)) & (data.year == selected_year)].copy()

# The sum of the above filter county.
under_data = under_data.groupby(['item_code', 'item', 'year'])[
     'domestic_supply_quantity', 'export_quantity', 'feed', 'food', 'import_quantity', 'other_uses_non-food', 'processing',
     'stock_variation', 'production', 'seed', 'food_supply_kcal', 'food_supply_kg', 'losses'
 ].sum()
#
under_data = under_data.reset_index()
under_data = under_data.sort_values('export_quantity', ascending = False)
#
most_exported_products = under_data.iloc[:25].item.values
under_data[under_data.item.isin(most_exported_products)].iloc[:25].domestic_supply_quantity

/Users/souzaalves/.conda/envs/untitled1/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

13     25928.0
95     26785.0
96     46133.0
29         0.0
2     147051.0
47      1012.0
9      56599.0
0      27129.0
8       5388.0
58      1062.0
52       867.0
22      7518.0
16        69.0
12      4548.0
38         0.0
45       239.0
27      1247.0
46        86.0
67         0.0
48        11.0
6      12072.0
75         0.0
10      2822.0
14       361.0
20      4103.0
Name: domestic_supply_quantity, dtype: float64

In [162]:
imp = data[(data.item.isin(most_exported_products)) & (data.year == selected_year)]
imp = imp.sort_values('import_quantity', ascending= False)

imp = imp.reset_index()
imp['great_import_from_undern_countries'] = imp.index < 200

imp.head(20)

,index,country_code,country,item_code,item,year,origin,production,import_quantity,stock_variation,...,tourist_consumption,population,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,great_import_from_undern_countries
0,1325,21,Brazil,2555,Soyabeans,2017,vegetal,47183.0,68156.0,0.00,...,0.0,207833.82,0.000000e+00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,True
1,14569,231,United States of America,2555,Soyabeans,2017,vegetal,61675.0,55412.0,0.00,...,0.0,325084.76,7.190550e+10,0.000000e+00,110000.0,653686.346040,0.000000,2.148013e+15,0.000000e+00,True
2,14550,231,United States of America,2514,Maize and products,2017,vegetal,345852.0,53507.0,0.26,...,0.0,325084.76,2.467450e+12,1.888113e+10,12040000.0,204937.725767,156819.983711,2.761228e+16,2.112914e+14,True
3,11760,185,Russian Federation,2511,Wheat and products,2017,vegetal,51621.0,33544.0,3.05,...,0.0,145530.08,2.735602e+10,1.593554e+05,129430000.0,211.357620,0.123121,3.743355e+12,2.180595e+07,True
4,1306,21,Brazil,2514,Maize and products,2017,vegetal,76213.0,29555.0,1.02,...,0.0,207833.82,4.155575e+11,0.000000e+00,28940000.0,14359.277404,0.000000,9.201569e+14,0.000000e+00,True
5,13618,216,Thailand,2532,Cassava and products,2017,vegetal,8495.0,29409.0,0.04,...,0.0,69209.81,5.855634e+10,9.761075e+07,11590000.0,5052.316130,842.197995,7.628997e+12,1.271719e+10,True
6,1319,21,Brazil,2542,Sugar (Raw Equivalent),2017,vegetal,12165.0,29254.0,0.00,...,0.0,207833.82,0.000000e+00,3.016168e+08,39300000.0,0.000000,767.472654,0.000000e+00,0.000000e+00,True
7,14548,231,United States of America,2511,Wheat and products,2017,vegetal,32155.0,28733.0,3.57,...,0.0,325084.76,3.150315e+11,4.864893e+06,80840000.0,3896.975678,6.017929,5.011511e+12,7.739056e+07,True
8,6197,101,Indonesia,2577,Palm Oil,2017,vegetal,9737.0,27212.0,13.53,...,0.0,264650.96,0.000000e+00,4.829880e+08,4940000.0,0.000000,9777.085061,0.000000e+00,0.000000e+00,True
9,548,9,Argentina,2514,Maize and products,2017,vegetal,20709.0,23780.0,0.30,...,0.0,43937.14,1.154668e+10,7.431572e+07,11570000.0,997.984476,642.313898,1.379215e+13,8.876778e+10,True
10,1866,33,Canada,2511,Wheat and products,2017,vegetal,10114.0,23429.0,3.76,...,0.0,36732.10,4.022165e+08,5.456737e+06,83540000.0,4.814658,6.531885,2.874832e+10,3.900189e+08,True
11,639,10,Australia,2511,Wheat and products,2017,vegetal,7921.0,22304.0,2.55,...,0.0,24584.62,2.853537e+09,7.923500e+06,76030000.0,37.531722,10.421544,1.590594e+11,4.416650e+08,True
12,10165,156,New Zealand,2848,Milk - Excluding Butter,2017,animal,616.0,20654.0,10.00,...,0.0,4702.03,3.672756e+08,1.905027e+05,110040000.0,3.337655,0.173121,1.068050e+09,5.539884e+05,True
13,14459,230,Ukraine,2514,Maize and products,2017,vegetal,5973.0,19531.0,0.33,...,0.0,44487.71,1.136661e+10,1.510135e+07,13270000.0,856.564424,113.800702,2.827519e+12,3.756561e+09,True
14,6156,100,India,2805,Rice and products,2017,vegetal,150954.0,18088.0,1.56,...,0.0,1338676.78,4.733722e+12,0.000000e+00,103210000.0,45864.952381,0.000000,7.200798e+12,0.000000e+00,True
15,14457,230,Ukraine,2511,Wheat and products,2017,vegetal,8797.0,18027.0,3.61,...,0.0,44487.71,8.671100e+09,3.604839e+06,123210000.0,70.376589,2.925768,1.000051e+11,4.157517e+07,True
16,13702,216,Thailand,2805,Rice and products,2017,vegetal,17382.0,17609.0,2.59,...,0.0,69209.81,4.511718e+10,0.000000e+00,177770000.0,253.795258,0.000000,4.131787e+11,0.000000e+00,True
17,4131,68,France,2511,Wheat and products,2017,vegetal,20665.0,16769.0,4.00,...,0.0,64842.51,8.378301e+09,6.811511e+07,111090000.0,75.419036,61.315250,5.726567e+11,4.655667e+09,True
18,4769,79,Germany,2848,Milk - Excluding Butter,2017,animal,26261.0,16698.0,19.05,...,0.0,82658.41,1.116302e+09,1.979173e+07,267520000.0,4.172779,7.398224,1.407896e+10,2.496161e+08,True
19,546,9,Argentina,2511,Wheat and products,2017,vegetal,5403.0,14041.0,2.48,...,0.0,43937.14,4.939413e+09,2.084817e+05,105170000.0,46.965991,0.198233,0.000000e+00,0.000000e+00,True

# Task 5 : Identify major trends

In [163]:
# Assign vegetal oring values only to vegetables_data to be used on question that require only vegetables
vegetables_data = data[:][data.origin == 'vegetal']

**1. Considering only plant products, what proportion of the global domestic supply is used as :**
    * food
    * feed
    * losses
    * other uses

In [164]:
# Calculating the total global of all origin vegetables
global_food_total_supply = data[data.origin == 'vegetal'].groupby('year')['food','feed', 'losses', 'other_uses_non-food', 'domestic_supply_quantity'].sum()
global_food_total_supply.food = global_food_total_supply.food.fillna(global_food_total_supply.food.median())
global_food_total_supply.feed = global_food_total_supply.feed.fillna(global_food_total_supply.feed.median())
global_food_total_supply['other_uses_non-food'] = global_food_total_supply['other_uses_non-food'].fillna(global_food_total_supply['other_uses_non-food'].median())
global_food_total_supply['total'] = (global_food_total_supply.food +global_food_total_supply.feed +global_food_total_supply.losses + global_food_total_supply['other_uses_non-food'])
global_food_total_supply

/Users/souzaalves/.conda/envs/untitled1/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,food,feed,losses,other_uses_non-food,domestic_supply_quantity,total
year,,,,,,
2017,87006.61,7563.76,5205155.0,194000.0,1796223.0,5493725.37

In [165]:
# divide food, feed, losses, other_uses_non-food by domestic_supply_quantity to get ist global supply proportions.
(global_food_total_supply[['food','feed', 'losses', 'other_uses_non-food']]  / global_food_total_supply.total.iloc[0]).round(3)

       food   feed  losses  other_uses_non-food
year
2017  0.016  0.001   0.947                0.035

**2. How many humans on earth could be fed if all the plant-based food supply (crops),
including food and feed, was used for human consumption? Give the results in terms of calories, and protein.
Express these two results as a percentage of the world's population.**

In [166]:
# Daily kcal, protein recommend Per capita and global average weight
# according to Wikipedia https://en.wikipedia.org/wiki/Human_body_weight.
NB_KCAL_PER_CAPITA_PER_DAY = 2500
KG_PROT_PER_CAPITA_PER_DAY = 62 * .0009

In [167]:
# Calculating food_feed_kcal using it unit 10^6 extracting its kcal value from ration kcal kg.
# Calculating food_feed_kgprot using it unit 10^6 extracting its kg value from protein percentage removing its percentage  0.1.
data["food_feed_kcal"] = vegetables_data[["food","feed"]].sum(axis=1) * 1000000 * vegetables_data["ratio_kcalkg"]
data["food_feed_kgprot"] = vegetables_data[["food","feed"]].sum(axis=1) * 1000000 * vegetables_data["protein_percentage"] * .01

In [168]:
# Calculating food_feed_kcal sum
ff_kcal = data.groupby("year")["food_feed_kcal"].sum()
ff_kcal

year
2017    1.872525e+14
Name: food_feed_kcal, dtype: float64

In [169]:
#Calculating food_feed_kgprot sum
ff_kgprot = data.groupby("year")["food_feed_kgprot"].sum()
ff_kgprot

year
2017    1.651205e+11
Name: food_feed_kgprot, dtype: float64

In [170]:
# Creating food feed quantities in oder calculating its humans nutrients recommend values.
ff_quantities = pd.DataFrame({'ffKcal': ff_kcal, 'ffKgprot': ff_kgprot})
# Recommended food and feed per capita
temp = ff_quantities / [NB_KCAL_PER_CAPITA_PER_DAY, KG_PROT_PER_CAPITA_PER_DAY] / 365
temp.columns = ['energy_ng_feed', 'proteins_nb_feed']

# Calculating the percentage of Engine and Protein need for the global population .
temp['energy_ng_feed_percentage'] = round(100 * temp['energy_ng_feed'] / WORLD_POPULATION.iloc[0])
temp['proteins_nb_feed_percentage'] = round(100 * temp['proteins_nb_feed'] / WORLD_POPULATION.iloc[0])
temp

,energy_ng_feed,proteins_nb_feed,energy_ng_feed_percentage,proteins_nb_feed_percentage
year,,,,
2017,2.052082e+08,8.107256e+09,0.0,0.0

**3. How many humans could be fed with the global food supply? Give the results in terms of calories and protein.
Express these two results as a percentage of the world's population.**

In [171]:
#Calculating totalFoodSupplyKcal and food_supply_kgprotein sum
total_food_supply_kcal = data.groupby('year')['food_supply_kcal'].sum()
total_food_supply_proteins = data.groupby('year')['food_supply_kgprotein'].sum()

# Creating food feed quantities in oder calculating its humans nutrients recommend values.
fs_quantities = pd.DataFrame({'totalFoodSupplyKcal': total_food_supply_kcal, 'totalFoodSupplyProteins': total_food_supply_proteins})

In [172]:
temp = fs_quantities / [NB_KCAL_PER_CAPITA_PER_DAY, KG_PROT_PER_CAPITA_PER_DAY] / 365
temp.columns = ['energy_ng_feed', 'proteins_nb_feed']

# Calculating the percentage of Engine and Protein need for the global population . use the population from pop
temp['energy_ng_feed_percentage'] = round(100 * temp['energy_ng_feed'] / WORLD_POPULATION.iloc[0])
temp['proteins_nb_feed_percentage'] = round(100 * temp['proteins_nb_feed'] / WORLD_POPULATION.iloc[0])

temp

,energy_ng_feed,proteins_nb_feed,energy_ng_feed_percentage,proteins_nb_feed_percentage
year,,,,
2017,2.114803e+08,8.945629e+09,0.0,0.0

**4. From the collected data on undernutrition, what proportion of the world's population is considered undernourished?**

In [173]:
# Calculating the total global undernourished based on its unit 10^6.
global_undernourished = data_undernourished.value.values.sum() * np.power(10,6)

# Calculating the percentage of the global undernourished.
global_undernourished_proportion = round(100 * global_undernourished / WORLD_POPULATION.iloc[0])
global_undernourished_proportion

0.0

**5. Considering the 25 items most exported by the countries with a high rate of undernutrition, which three of them:**
    * Have the greatest other_uses to domestic_supply_quantity ratio and what are they used for?
    * Have the greatest feed to (food+feed) ratio and what are they used for?

In [174]:
# Calculating the total of the most imported products.
imp = imp.groupby(['item', 'item_code']).sum()
# Calculating the proportion of the most imported products in the other uses food, feed vs food related to domestic supply quantity.
safe_mask_div = imp['domestic_supply_quantity'] != 0
imp['other_uses_%'] = imp.loc[ safe_mask_div, 'other_uses_non-food'] / imp.loc[safe_mask_div, 'domestic_supply_quantity']

# Calculating the proportion of the most imported products based on the sum of feed and food related to feed.
imp['feed_vs_food'] = imp['feed'] / (imp['feed'] + imp['food'])

# Top 3 other uses percentage.
imp.sort_values('other_uses_%', ascending = False).iloc[:3]

,,index,country_code,year,production,import_quantity,stock_variation,domestic_supply_quantity,losses,residuals,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,great_import_from_undern_countries,other_uses_%,feed_vs_food
item,item_code,,,,,,,,,,,,,,,,,,,,,
Sugar cane,2536,1214010,19468,302550,1960083.0,154.0,0.62,49298.0,13168.0,136.0,173.22,...,1.540929e+13,2.458220e+10,1.732200e+08,5.000285e+07,157025.247559,3.492148e+17,1.046730e+13,0.0,0.699298,0.004597
Yams,2535,933844,14972,238006,65952.0,123.0,6.16,4668.0,34823.0,3189.0,1178.09,...,2.793145e+11,1.086037e+09,1.178090e+09,7.678143e+03,1067.773767,8.632404e+12,3.543309e+10,0.0,0.558055,0.041938
Potatoes and products,2531,1357896,21778,344907,475914.0,33811.0,15.54,65407.0,307118.0,10244.0,5351.03,...,1.400091e+13,1.618615e+08,5.351030e+09,4.159124e+05,304.168850,3.417071e+15,9.147405e+09,8.0,0.506949,0.041989

In [175]:
# Top 3 feed vs food percentage.
imp.sort_values('feed_vs_food', ascending = False).iloc[:3]

,,index,country_code,year,production,import_quantity,stock_variation,domestic_supply_quantity,losses,residuals,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,great_import_from_undern_countries,other_uses_%,feed_vs_food
item,item_code,,,,,,,,,,,,,,,,,,,,,
Soyabeans,2555,1360014,21778,344907,450535.0,152263.0,41.66,38702.0,16201.0,938.0,117.93,...,1.404806e+12,4.422685e+07,1.179300e+08,3.555831e+06,234908.103925,9.422165e+15,1.351083e+12,8.0,0.307633,0.445375
"Pulses, Other and products",2549,1359672,21778,344907,46061.0,8616.0,30.57,10421.0,30755.0,4648.0,495.96,...,4.424378e+11,7.665469e+06,4.959600e+08,1.979845e+05,71.183426,1.683899e+14,2.791809e+08,2.0,0.224163,0.376088
Poultry Meat,2734,1368823,21778,344907,136136.0,19093.0,844.09,0.0,130414.0,12838.0,3476.71,...,1.059099e+12,4.146087e+07,3.476710e+09,2.117976e+05,234.318160,0.000000e+00,0.000000e+00,6.0,NaN,0.260514

**6. Taking only grains (cereals) for food and feed into account, what proportion (in terms of weight) is used for feed?**

In [176]:
#Feed_proportion = vegetables_data[ data_crops.item ].feed / vegetables_data[ data_crops.item ].feed + vegetables_data[ data_crops.item  ].food

# Creating only cereal columns on the all food and animal data set.
data['only_cereal'] = data.item_code.isin(data_crops.item_code.unique())

total_cereal_food = data.loc[data.only_cereal, 'food'].sum()
total_cereal_feed = data.loc[data.only_cereal, 'feed'].sum()

In [177]:
# Calculating feed vs food percentage.
round(100 * total_cereal_feed / (total_cereal_feed + total_cereal_food))

17.0

**7. How many tons of grains (cereals) could be released if the US reduced its production of animal products by 10%?
Convert this quantity to kcal, and the number of potentially fed humans.**

In [178]:
# Creating USA animal data set.
Us_animals_data = data_animals[ data_animals.country_code == 231 ]

# Calculating the total USA animal feed percentage.
Us_animal_production =   Us_animals_data[Us_animals_data.element == 'Feed'].groupby('year')['value'].sum() * 1000 * 0.1
Us_animal_production

year
2017    268300.0
Name: value, dtype: float64

In [179]:
# Creating the total USA animal ratio kcal production.
Us_animal_production_kcal = Us_animal_production * data.groupby(['year'])['ratio_kcalkg'].sum() 
Us_animal_production_kcal

year
2017    1.993343e+13
dtype: float64

In [180]:
# Creating the total USA animal ratio kg production.
Us_animal_production_kg = Us_animal_production * np.power(10,6) 
Us_animal_production_kg

year
2017    2.683000e+11
Name: value, dtype: float64

**8. In Thailand, what proportion of cassava is exported? What is the proportion of undernutrition?**

In [181]:
# Creating Thailand vegetables data set.
thai_vegetables_data = vegetables_data[vegetables_data.country.str.startswith('Thai')]

# Filtering Cassava Products from Thailand vegetables.
thai_cassava =  thai_vegetables_data[thai_vegetables_data.item.str.startswith('Cassava')]

# Calculating the proportion of Cassava production export.
thai_cassava_proportion =  thai_cassava.export_quantity / thai_cassava.production
thai_cassava_proportion

13618    3.646027
dtype: float64

In [182]:
# Calculating the proportion of thailand globally undernourished.
thai_undernourished_proportion = data_undernourished.value.sum() + data_population[data_population.country_code == 216].value / global_undernourished
thai_undernourished_proportion

151    2665.700026
Name: value, dtype: float64