In [1]:
import pandas as pd
import numpy as np
#import seaborn as sn

# Task 1 : Data Collection
**importing data sets**

In [9]:
data_crops = pd.read_csv('../data/latest_v3/cereals.csv')
data_vegetables_2014 = pd.read_csv('../data/latest_v3/veg_prod_2014.csv')
data_vegetables_2017 = pd.read_csv('../data/latest_v3/veg_prod_2017.csv')
data_animals = pd.read_csv('../data/latest_v3/animal_products.csv')
data_population = pd.read_csv('../data/latest_v3/total_population.csv')
data_undernourished = pd.read_csv('../data/latest_v3/people_undernourished.csv')

## Analysis

In [10]:
data_crops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       18 non-null     object
 1   Domain            18 non-null     object
 2   Area Code         18 non-null     int64
 3   Area              18 non-null     object
 4   Element Code      18 non-null     int64
 5   Element           18 non-null     object
 6   Item Code         18 non-null     int64
 7   Item              18 non-null     object
 8   Year Code         18 non-null     int64
 9   Year              18 non-null     int64
 10  Unit              18 non-null     object
 11  Value             18 non-null     int64
 12  Flag              18 non-null     object
 13  Flag Description  18 non-null     object
dtypes: int64(6), object(8)
memory usage: 2.1+ KB

In [11]:
data_crops.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,New Food Balances,5000,World,5511,Production,2511,Wheat and products,2014,2014,1000 tonnes,724952,A,"Aggregate, may include official, semi-official..."
1,FBS,New Food Balances,5000,World,5511,Production,2511,Wheat and products,2017,2017,1000 tonnes,771775,A,"Aggregate, may include official, semi-official..."
2,FBS,New Food Balances,5000,World,5511,Production,2805,Rice and products,2014,2014,1000 tonnes,741547,A,"Aggregate, may include official, semi-official..."
3,FBS,New Food Balances,5000,World,5511,Production,2805,Rice and products,2017,2017,1000 tonnes,767558,A,"Aggregate, may include official, semi-official..."
4,FBS,New Food Balances,5000,World,5511,Production,2513,Barley and products,2014,2014,1000 tonnes,144312,A,"Aggregate, may include official, semi-official..."

In [12]:
data_crops.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
13,FBS,New Food Balances,5000,World,5511,Production,2517,Millet and products,2017,2017,1000 tonnes,28452,A,"Aggregate, may include official, semi-official..."
14,FBS,New Food Balances,5000,World,5511,Production,2518,Sorghum and products,2014,2014,1000 tonnes,66982,A,"Aggregate, may include official, semi-official..."
15,FBS,New Food Balances,5000,World,5511,Production,2518,Sorghum and products,2017,2017,1000 tonnes,56610,A,"Aggregate, may include official, semi-official..."
16,FBS,New Food Balances,5000,World,5511,Production,2520,"Cereals, Other",2014,2014,1000 tonnes,31373,A,"Aggregate, may include official, semi-official..."
17,FBS,New Food Balances,5000,World,5511,Production,2520,"Cereals, Other",2017,2017,1000 tonnes,32443,A,"Aggregate, may include official, semi-official..."

In [13]:
print( 'Crops has only one element:', data_crops.Element.unique())

Crops has only one element: ['Production']

In [14]:
print('All items:', data_crops.Item.unique())

All items: ['Wheat and products' 'Rice and products' 'Barley and products'
 'Maize and products' 'Rye and products' 'Oats' 'Millet and products'
 'Sorghum and products' 'Cereals, Other']

In [15]:
print('Number of items:', len(data_crops.Item.unique()))

Number of items: 9

In [16]:
print('Area or country aggregate World + Total:', data_crops.Area.unique())

Area or country aggregate World + Total: ['World']

In [17]:
print('Years:', data_crops.Year.unique())

Years: [2014 2017]

In [18]:
data_vegetables_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137007 entries, 0 to 137006
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Domain Code       137007 non-null  object
 1   Domain            137007 non-null  object
 2   Area Code         137007 non-null  int64
 3   Area              137007 non-null  object
 4   Element Code      137007 non-null  int64
 5   Element           137007 non-null  object
 6   Item Code         137007 non-null  int64
 7   Item              137007 non-null  object
 8   Year Code         137007 non-null  int64
 9   Year              137007 non-null  int64
 10  Unit              137007 non-null  object
 11  Value             137007 non-null  float64
 12  Flag              137007 non-null  object
 13  Flag Description  137007 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 14.6+ MB

In [19]:
data_vegetables_2017.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,New Food Balances,2,Afghanistan,5511,Production,2511,Wheat and products,2017,2017,1000 tonnes,4281.0,S,Standardized data
1,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2511,Wheat and products,2017,2017,1000 tonnes,2302.0,S,Standardized data
2,FBS,New Food Balances,2,Afghanistan,5072,Stock Variation,2511,Wheat and products,2017,2017,1000 tonnes,-119.0,S,Standardized data
3,FBS,New Food Balances,2,Afghanistan,5911,Export Quantity,2511,Wheat and products,2017,2017,1000 tonnes,0.0,S,Standardized data
4,FBS,New Food Balances,2,Afghanistan,5301,Domestic supply quantity,2511,Wheat and products,2017,2017,1000 tonnes,6701.0,S,Standardized data

In [20]:
data_vegetables_2017.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
137002,FBS,New Food Balances,181,Zimbabwe,5142,Food,2899,Miscellaneous,2017,2017,1000 tonnes,19.00,S,Standardized data
137003,FBS,New Food Balances,181,Zimbabwe,645,Food supply quantity (kg/capita/yr),2899,Miscellaneous,2017,2017,kg,1.33,Fc,Calculated data
137004,FBS,New Food Balances,181,Zimbabwe,664,Food supply (kcal/capita/day),2899,Miscellaneous,2017,2017,kcal/capita/day,1.00,Fc,Calculated data
137005,FBS,New Food Balances,181,Zimbabwe,674,Protein supply quantity (g/capita/day),2899,Miscellaneous,2017,2017,g/capita/day,0.04,Fc,Calculated data
137006,FBS,New Food Balances,181,Zimbabwe,684,Fat supply quantity (g/capita/day),2899,Miscellaneous,2017,2017,g/capita/day,0.02,Fc,Calculated data

In [21]:
print( 'Vegetable elements:', data_vegetables_2017.Element.unique())

Vegetable elements: ['Production' 'Import Quantity' 'Stock Variation' 'Export Quantity'
 'Domestic supply quantity' 'Feed' 'Seed' 'Losses' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Food supply (kcal/capita/day)'
 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Processing' 'Other uses (non-food)'
 'Tourist consumption']

In [22]:
print('Number of elements:', len(data_vegetables_2017.Element.unique()))

Number of elements: 17

In [23]:
print('All items:', data_vegetables_2017.Item.unique())

All items: ['Wheat and products' 'Rice and products' 'Barley and products'
 'Maize and products' 'Rye and products' 'Oats' 'Millet and products'
 'Sorghum and products' 'Cereals, Other' 'Potatoes and products' 'Yams'
 'Roots, Other' 'Sugar cane' 'Sugar beet' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Beans' 'Peas' 'Pulses, Other and products'
 'Nuts and products' 'Soyabeans' 'Groundnuts (Shelled Eq)'
 'Sunflower seed' 'Rape and Mustardseed' 'Cottonseed'
 'Coconuts - Incl Copra' 'Sesame seed' 'Olives (including preserved)'
 'Oilcrops, Other' 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil'
 'Rape and Mustard Oil' 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil'
 'Coconut Oil' 'Sesameseed Oil' 'Olive Oil' 'Ricebran Oil'
 'Maize Germ Oil' 'Oilcrops Oil, Other' 'Tomatoes and products' 'Onions'
 'Vegetables, Other' 'Oranges, Mandarines' 'Lemons, Limes and products'
 'Grapefruit and products' 'Citrus, Other' 'Bananas' 'Apples and products'
 'Pineapples and products' 'Dates' 'Grapes and products (excl wine)'
 'Fruits, Other' 'Coffee and products' 'Cocoa Beans and products'
 'Tea (including mate)' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other' 'Wine'
 'Beer' 'Beverages, Fermented' 'Beverages, Alcoholic' 'Alcohol, Non-Food'
 'Infant food' 'Miscellaneous' 'Cassava and products' 'Sweet potatoes'
 'Palm kernels' 'Plantains' 'Sugar non-centrifugal']

In [24]:
print('Number of items:', len(data_vegetables_2017.Item.unique()))

Number of items: 75

In [25]:
print('Area or countries:', data_vegetables_2017.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "CÃ´te d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [26]:
print('Area or countries amount to:', len(data_vegetables_2017.Area.unique()))

Area or countries amount to: 173

In [27]:
print('Years:', data_vegetables_2017.Year.unique())

Years: [2017]

In [28]:
data_animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84525 entries, 0 to 84524
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       84525 non-null  object
 1   Domain            84525 non-null  object
 2   Area Code         84525 non-null  int64
 3   Area              84525 non-null  object
 4   Element Code      84525 non-null  int64
 5   Element           84525 non-null  object
 6   Item Code         84525 non-null  int64
 7   Item              84525 non-null  object
 8   Year Code         84525 non-null  int64
 9   Year              84525 non-null  int64
 10  Unit              84525 non-null  object
 11  Value             84525 non-null  float64
 12  Flag              84525 non-null  object
 13  Flag Description  84525 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 9.0+ MB

In [29]:
data_animals.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,New Food Balances,2,Afghanistan,5511,Production,2731,Bovine Meat,2014,2014,1000 tonnes,121.0,S,Standardized data
1,FBS,New Food Balances,2,Afghanistan,5511,Production,2731,Bovine Meat,2017,2017,1000 tonnes,94.0,S,Standardized data
2,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2014,2014,1000 tonnes,16.0,S,Standardized data
3,FBS,New Food Balances,2,Afghanistan,5611,Import Quantity,2731,Bovine Meat,2017,2017,1000 tonnes,6.0,S,Standardized data
4,FBS,New Food Balances,2,Afghanistan,5072,Stock Variation,2731,Bovine Meat,2014,2014,1000 tonnes,0.0,S,Standardized data

In [30]:

data_animals.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
84520,FBS,New Food Balances,181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2017,2017,kcal/capita/day,0.0,Fc,Calculated data
84521,FBS,New Food Balances,181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2014,2014,g/capita/day,0.0,Fc,Calculated data
84522,FBS,New Food Balances,181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2017,2017,g/capita/day,0.0,Fc,Calculated data
84523,FBS,New Food Balances,181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2014,2014,g/capita/day,0.0,Fc,Calculated data
84524,FBS,New Food Balances,181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2017,2017,g/capita/day,0.0,Fc,Calculated data

In [31]:
print( 'Animal elements:', data_animals.Element.unique())

Animal elements: ['Production' 'Import Quantity' 'Stock Variation' 'Export Quantity'
 'Domestic supply quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Tourist consumption' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Food supply (kcal/capita/day)'
 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)']

In [32]:
print('Number of elements:', len(data_animals.Element.unique()))

Number of elements: 17

In [33]:
print('All items:', data_animals.Item.unique())

All items: ['Bovine Meat' 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other'
 'Offals, Edible' 'Butter, Ghee' 'Cream' 'Fats, Animals, Raw' 'Eggs'
 'Milk - Excluding Butter' 'Freshwater Fish' 'Fish, Body Oil'
 'Fish, Liver Oil' 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other'
 'Crustaceans' 'Cephalopods' 'Molluscs, Other' 'Aquatic Animals, Others'
 'Aquatic Plants' 'Meat, Aquatic Mammals']

In [34]:
print('Area or countries:', data_vegetables_2017.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "CÃ´te d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius'
 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [35]:
print('Area or countries amount to:', len(data_vegetables_2017.Area.unique()))

Area or countries amount to: 173

In [36]:
print('Years:', data_vegetables_2017.Year.unique())

Years: [2017]

In [37]:
data_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       342 non-null    object
 1   Domain            342 non-null    object
 2   Area Code         342 non-null    int64
 3   Area              342 non-null    object
 4   Element Code      342 non-null    int64
 5   Element           342 non-null    object
 6   Item Code         342 non-null    int64
 7   Item              342 non-null    object
 8   Year Code         342 non-null    int64
 9   Year              342 non-null    int64
 10  Unit              342 non-null    object
 11  Value             342 non-null    float64
 12  Flag              342 non-null    object
 13  Flag Description  342 non-null    object
dtypes: float64(1), int64(5), object(8)
memory usage: 37.5+ KB

In [38]:
data_population.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,New Food Balances,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,33370.79,S,Standardized data
1,FBS,New Food Balances,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,36296.11,S,Standardized data
2,FBS,New Food Balances,3,Albania,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,2896.30,S,Standardized data
3,FBS,New Food Balances,3,Albania,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,2884.17,S,Standardized data
4,FBS,New Food Balances,4,Algeria,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,38923.69,S,Standardized data

In [39]:
data_population.tail()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
337,FBS,New Food Balances,249,Yemen,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,27834.82,S,Standardized data
338,FBS,New Food Balances,251,Zambia,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,15399.79,S,Standardized data
339,FBS,New Food Balances,251,Zambia,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,16853.60,S,Standardized data
340,FBS,New Food Balances,181,Zimbabwe,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,13586.71,S,Standardized data
341,FBS,New Food Balances,181,Zimbabwe,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,14236.59,S,Standardized data

In [40]:
print( 'Population elements:', data_population.Element.unique())

Population elements: ['Total Population - Both sexes']

In [41]:
print('Number of elements:', len(data_population.Element.unique()))

Number of elements: 1

In [42]:
print('All items:', data_population.Item.unique())

All items: ['Population']

In [43]:
print('Area or countries:', data_population.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Congo' 'Costa Rica'
 "CÃ´te d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam' 'Yemen'
 'Zambia' 'Zimbabwe']

In [44]:
print('Area or countries amount to:', len(data_population.Area.unique()))

Area or countries amount to: 171

In [45]:
print('Years:', data_population.Year.unique())

Years: [2014 2017]

In [46]:
data_undernourished.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       1020 non-null   object
 1   Domain            1020 non-null   object
 2   Area Code         1020 non-null   int64
 3   Area              1020 non-null   object
 4   Element Code      1020 non-null   int64
 5   Element           1020 non-null   object
 6   Item Code         1020 non-null   int64
 7   Item              1020 non-null   object
 8   Year Code         1020 non-null   int64
 9   Year              1020 non-null   object
 10  Unit              1020 non-null   object
 11  Value             605 non-null    object
 12  Flag              1020 non-null   object
 13  Flag Description  1020 non-null   object
 14  Note              0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [47]:
data_undernourished.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20122014,2012-2014,millions,7.9,F,FAO estimate,NaN
1,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20132015,2013-2015,millions,8.8,F,FAO estimate,NaN
2,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20142016,2014-2016,millions,9.6,F,FAO estimate,NaN
3,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20152017,2015-2017,millions,10.2,F,FAO estimate,NaN
4,FS,Suite of Food Security Indicators,2,Afghanistan,6132,Value,210011,Number of people undernourished (million) (3-y...,20162018,2016-2018,millions,10.6,F,FAO estimate,NaN

In [48]:
print( 'Population elements:', data_undernourished.Element.unique())

Population elements: ['Value']

In [49]:
print('Number of elements:', len(data_undernourished.Element.unique()))

Number of elements: 1

In [50]:
print('Area or countries:', data_undernourished.Area.unique())

Area or countries: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [51]:
print('Area or countries amount to:', len(data_undernourished.Area.unique()))

Area or countries amount to: 204

In [52]:
print('Years:', data_undernourished.Year.unique())

Years: ['2012-2014' '2013-2015' '2014-2016' '2015-2017' '2016-2018']

**Replace NaN with zeros**

In [53]:
data_crops.fillna(0, inplace=True)
data_undernourished.fillna(0, inplace=True)
data_animals.fillna(0, inplace=True)
data_vegetables_2017.fillna(0, inplace=True)
data_population.fillna(0, inplace=True)

**Converting value object dtype to a numerical one.**

In [54]:
data_undernourished.Value = pd.to_numeric(data_undernourished.Value, errors ='coerce')

**renaming data columns**

# Task 2 : Data Discovery

**Data default generated ids have been identified here:**

They are simply all data set columns with "code" as its suffix like, Item Code, Area Code and Element Code etc.

In [55]:
# Creating properties Product origin that contain vegetal and animal
data_vegetables =  data_vegetables_2014.append(data_vegetables_2017)
data_animals['origin'] = 'animal'
data_vegetables['origin'] = 'vegetal'

/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/1836731455.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_vegetables =  data_vegetables_2014.append(data_vegetables_2017)

In [56]:
# Creating a temporary dataframe combined from vegetables and animals products and rename its column name.
temp = data_animals.append(data_vegetables)

/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/3624635257.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp = data_animals.append(data_vegetables)

In [57]:
# Columns selection according to Paul protocol.
temp.columns = ["xx", "xx2", "country_code", "country", 'xx3', 'element'
,'item_code', 'item', 'xx4', "year", "unit", "value", 'xx5', 'xx6'
, 'origin']

# Creating the main dataFrame pivot table that will be used to Answer most question.
data = temp.pivot_table(
index=["country_code", "country", "item_code", "item", "year", "origin"],
columns = ["element"], values=["value"], aggfunc=sum)

#elements_columns = pd.Series(data.columns.unique()).replace(regex={' ': '_', '[()]': '', '/': '_', '-': '_'}).str.lower()

# Selecting columns based on elements.
data.columns =  ['domestic_supply_quantity', 'export_quantity', 'fat_supply_quantity_g_capita_day', 'feed',
'food', 'food_supply_kcal_capita_day',
'food_supply_quantity_kg_capita_yr', 'import_quantity', 'losses', 'other_uses_non_food',
'processing', 'production', 'protein_supply_quantity_g_capita_day',
'residuals', 'seed', 'stock_variation', 'tourist_consumption']

# removing not need columns like fat_supply_quantity_g_capita_day, residuals and tourist_consumption.
data = data[ ['domestic_supply_quantity', 'export_quantity', 'feed',
'food', 'food_supply_kcal_capita_day',
'food_supply_quantity_kg_capita_yr', 'import_quantity', 'losses', 'other_uses_non_food',
'processing', 'production', 'protein_supply_quantity_g_capita_day', 'seed', 'stock_variation',]]

#Removing NaN values.
#data.fillna(0, inplace=True)

#data.drop(columns=['residuals', 'tourist_consumption', 'fat_supply_quantity_g_capita_day'], inplace= True)

# Reset the index based on the pivot table and columns changes.
data = data.reset_index()
data = data[data.country_code != 351]


col_renamed = {'Domain Code' : 'domain_code','Domain' : 'domain', 'Area Code' : 'country_code',
                           'Area' : 'country', 'Element Code' : 'element_code','Element' : 'element',
                           'Item Code' : 'item_code', 'Item' : 'item', 'Year Code' : 'year_code', 'Year' : 'year',
                           'Unit' : 'unit', 'Value' : 'value', 'Flag' : 'flag', 'Flag Description' : 'flag_description'}

data_crops =  data_crops.rename(columns= col_renamed)
data_vegetables_2017 = data_vegetables_2017.rename(columns= col_renamed)
data_animals = data_animals.rename(columns= col_renamed)
data_population = data_population.rename(columns= col_renamed)
data_undernourished = data_undernourished.rename(columns= col_renamed)

**Data vegetables and animals Summary statistics**

In [58]:
data.describe()

,country_code,item_code,year,domestic_supply_quantity,export_quantity,feed,food,food_supply_kcal_capita_day,food_supply_quantity_kg_capita_yr,import_quantity,losses,other_uses_non_food,processing,production,protein_supply_quantity_g_capita_day,seed,stock_variation
count,32110.00000,32110.000000,32110.000000,31819.000000,24954.000000,11082.000000,29218.000000,28885.000000,29466.000000,30590.000000,13538.000000,13415.000000,9568.000000,21850.000000,28947.000000,7236.000000,24540.000000
mean,126.44497,2630.218966,2015.499253,677.701091,121.145748,264.402454,351.422924,33.940696,8.059022,91.567898,88.520239,134.782408,533.577132,1006.895606,0.963096,48.202460,9.021394
std,72.88545,91.346924,1.500023,9477.193907,1263.307094,3336.243914,4856.313333,106.717938,24.160516,876.353008,1242.231894,4338.122656,7519.101272,11794.015558,3.252872,525.596477,346.290652
min,1.00000,2511.000000,2014.000000,-828.000000,0.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-10388.000000
25%,66.00000,2558.000000,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,121.00000,2612.000000,2014.000000,6.000000,0.000000,0.000000,4.000000,3.000000,0.590000,1.000000,1.000000,0.000000,0.000000,11.000000,0.030000,0.000000,0.000000
75%,188.00000,2732.000000,2017.000000,73.000000,8.000000,11.000000,47.000000,20.000000,4.540000,17.000000,13.000000,1.000000,16.000000,131.000000,0.410000,4.000000,0.000000
max,276.00000,2899.000000,2017.000000,758548.000000,68156.000000,187553.000000,473967.000000,1785.000000,457.700000,95538.000000,83476.000000,324186.000000,345510.000000,758548.000000,49.110000,26679.000000,25089.000000

## Domestic supply quantity data redundancy equation

In [59]:
data_france = data_vegetables_2017[(data_vegetables_2017.country == 'France') & (data_vegetables_2017.item == 'Wheat and products')]

In [60]:
data_france.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 46170 to 46185
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   domain_code       16 non-null     object
 1   domain            16 non-null     object
 2   country_code      16 non-null     int64
 3   country           16 non-null     object
 4   element_code      16 non-null     int64
 5   element           16 non-null     object
 6   item_code         16 non-null     int64
 7   item              16 non-null     object
 8   year_code         16 non-null     int64
 9   year              16 non-null     int64
 10  unit              16 non-null     object
 11  value             16 non-null     float64
 12  flag              16 non-null     object
 13  flag_description  16 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.9+ KB

  **Calculating the 4 term equation of a specific country in this case france item Wheat and products, proving so some data redundancy.**

In [61]:
data_france[data_france.loc[:]['element'] == 'Production'].value.values + \
data_france[data_france.loc[:]['element'] == 'Import Quantity'].value.values \
- data_france[data_france.loc[:]['element'] == 'Export Quantity'].value.values - \
data_france[data_france.loc[:]['element'] == 'Stock Variation'].value.values \
== data_france[data_france.loc[:]['element'] == 'Domestic supply quantity'].value.values

array([ True])

This equation return to be **TRUE** Domestic supply quantity is a result of a 4 term equation.

## Task 3 : Data Cleaning

**Checking for data anomaly and removing it.**

In [62]:
data

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,food_supply_kcal_capita_day,food_supply_quantity_kg_capita_yr,import_quantity,losses,other_uses_non_food,processing,production,protein_supply_quantity_g_capita_day,seed,stock_variation
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,380.0,1039.0,130.58,344.0,30.0,0.0,61.0,338.0,30.98,32.0,42.0
1,1,Armenia,2511,Wheat and products,2017,vegetal,558.0,1.0,105.0,390.0,1053.0,132.49,337.0,10.0,0.0,60.0,176.0,31.35,25.0,-45.0
2,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,145.0,3.0,8.0,0.94,6.0,16.0,13.0,6.0,190.0,0.27,14.0,0.0
3,1,Armenia,2513,Barley and products,2017,vegetal,114.0,0.0,91.0,2.0,4.0,0.54,14.0,10.0,6.0,4.0,93.0,0.15,13.0,-7.0
4,1,Armenia,2514,Maize and products,2014,vegetal,88.0,NaN,64.0,18.0,60.0,6.02,52.0,7.0,NaN,0.0,20.0,3.14,0.0,-16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32105,276,Sudan,2805,Rice and products,2017,vegetal,130.0,NaN,0.0,128.0,22.0,3.13,115.0,1.0,NaN,NaN,27.0,0.41,1.0,13.0
32106,276,Sudan,2848,Milk - Excluding Butter,2014,animal,4417.0,0.0,0.0,4232.0,243.0,111.43,26.0,217.0,NaN,0.0,4391.0,11.67,NaN,0.0
32107,276,Sudan,2848,Milk - Excluding Butter,2017,animal,4486.0,NaN,0.0,4301.0,230.0,105.38,35.0,220.0,0.0,0.0,4449.0,11.16,NaN,-2.0
32108,276,Sudan,2899,Miscellaneous,2014,vegetal,21.0,0.0,NaN,21.0,1.0,0.54,21.0,NaN,NaN,NaN,NaN,0.02,NaN,NaN
32109,276,Sudan,2899,Miscellaneous,2017,vegetal,30.0,0.0,NaN,30.0,1.0,0.73,30.0,NaN,NaN,NaN,NaN,0.02,NaN,NaN

In [63]:
data.duplicated().sum()

0

In [64]:
data.isnull().sum()

country_code                                0
country                                     0
item_code                                   0
item                                        0
year                                        0
origin                                      0
domestic_supply_quantity                  291
export_quantity                          7156
feed                                    21028
food                                     2892
food_supply_kcal_capita_day              3225
food_supply_quantity_kg_capita_yr        2644
import_quantity                          1520
losses                                  18572
other_uses_non_food                     18695
processing                              22542
production                              10260
protein_supply_quantity_g_capita_day     3163
seed                                    24874
stock_variation                          7570
dtype: int64

In [65]:
data.isna().sum()

country_code                                0
country                                     0
item_code                                   0
item                                        0
year                                        0
origin                                      0
domestic_supply_quantity                  291
export_quantity                          7156
feed                                    21028
food                                     2892
food_supply_kcal_capita_day              3225
food_supply_quantity_kg_capita_yr        2644
import_quantity                          1520
losses                                  18572
other_uses_non_food                     18695
processing                              22542
production                              10260
protein_supply_quantity_g_capita_day     3163
seed                                    24874
stock_variation                          7570
dtype: int64

## total world population

calculating and find anomaly, removing it.

In [66]:
# Using the above selection as mask for filtering the founded anomaly
china =  data_population.loc[data_population.country_code == 351]
# in FAO new methodology data set is this anomaly not present.
china

,domain_code,domain,country_code,country,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
60,FBS,New Food Balances,351,China,511,Total Population - Both sexes,2501,Population,2014,2014,1000 persons,1430670.82,A,"Aggregate, may include official, semi-official..."
61,FBS,New Food Balances,351,China,511,Total Population - Both sexes,2501,Population,2017,2017,1000 persons,1452625.24,A,"Aggregate, may include official, semi-official..."

**Creating World population constant**

**Complete removing the already know data anomaly involved china and main land china.**

In [67]:
data_population.drop([60,61], inplace=True)

In [68]:
# 7 631.1 this value is calculated according to FAO http://faostat.fao.org/static/syb/syb_5000.pdf
WORLD_POPULATION = pd.DataFrame(data_population.groupby('year').value.sum() * 1000)
WORLD_POPULATION.astype('int')

           value
year
2014  7089471330
2017  7329868960

## Task 4 : Computing new variables
**food_supply_kcal, food_supply_kgprotein, food_supply_kg, ratio_kcalkg, protein_percentage, dom_sup_kcal, dom_sup_kgprot**

To carry out your future study, youâll need to compute new variables from the one you already have.

Here is the list of variables:

- **_food_supply_kcal_ and _food_supply_kgprotein_**

In [69]:
# Creating a lite version of our population_df dataframe
pop_data = data_population[['country_code', 'country', 'year', 'value']]
pop_data['value'] = pop_data.value * 1000
# Merging the population dataframe with the global food balance sheet dataframe
data = pd.merge(data, pop_data, on=['country_code', 'country', 'year'] )
# Renaming its column value to population to be more clear.
data = data.rename(columns={'value': 'population'})

# Calculating all need variables.
data['food_supply_kcal'] = data.food_supply_kcal_capita_day * 365 * data.population
data['food_supply_kgprotein'] = (data['protein_supply_quantity_g_capita_day'] * data['population'] * 365) / 1000
data['food_supply_kg'] = data.food * np.power(10,6)
data[['country_code','country','item_code','item','year','origin', 'food_supply_kcal', 'food_supply_kgprotein']].sample()
# Creating Mask for preventing unsafe division by zero.
mask = data.food_supply_kg != 0

# Continue the calculation of the last 4 variables.
data.loc[mask, 'ratio_kcalkg'] = data.loc[mask, "food_supply_kcal"] / data.loc[mask, "food_supply_kg"]
data.loc[mask, 'protein_percentage'] = 100 * data.loc[mask, "food_supply_kgprotein"] / data.loc[mask, "food_supply_kg"]

#creating the domestic variables
data['dom_sup_kcal'] = data.domestic_supply_quantity * np.power(10,6) * data.ratio_kcalkg
data['dom_sup_kgprot'] = (data.domestic_supply_quantity * np.power(10,6) * data.protein_percentage) / 100

data.head(10)

/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/1787925227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data['value'] = pop_data.value * 1000

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,seed,stock_variation,population,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,380.0,...,32.0,42.0,2912410.0,1.104488e+12,3.293266e+07,380000000.0,2906.546859,8.666489,1.857283e+12,5.537887e+07
1,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,145.0,3.0,...,14.0,0.0,2912410.0,8.504237e+09,2.870180e+05,3000000.0,2834.745733,9.567267,5.556102e+11,1.875184e+07
2,1,Armenia,2514,Maize and products,2014,vegetal,88.0,NaN,64.0,18.0,...,0.0,-16.0,2912410.0,6.378178e+10,3.337913e+06,18000000.0,3543.432167,18.543962,3.118220e+11,1.631869e+07
3,1,Armenia,2515,Rye and products,2014,vegetal,1.0,NaN,1.0,0.0,...,0.0,0.0,2912410.0,1.063030e+09,3.189089e+04,0.0,NaN,NaN,NaN,NaN
4,1,Armenia,2516,Oats,2014,vegetal,8.0,NaN,6.0,1.0,...,1.0,-1.0,2912410.0,5.315148e+09,2.019756e+05,1000000.0,5315.148250,20.197563,4.252119e+10,1.615805e+06
5,1,Armenia,2517,Millet and products,2014,vegetal,0.0,NaN,0.0,NaN,...,NaN,0.0,2912410.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Armenia,2518,Sorghum and products,2014,vegetal,0.0,NaN,0.0,NaN,...,NaN,0.0,2912410.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Armenia,2520,"Cereals, Other",2014,vegetal,22.0,1.0,1.0,7.0,...,1.0,0.0,2912410.0,2.232362e+10,6.059269e+05,7000000.0,3189.088950,8.656099,7.015996e+10,1.904342e+06
8,1,Armenia,2531,Potatoes and products,2014,vegetal,691.0,3.0,229.0,121.0,...,120.0,10.0,2912410.0,8.291631e+10,1.934714e+06,121000000.0,685.258783,1.598937,4.735138e+11,1.104866e+07
9,1,Armenia,2532,Cassava and products,2014,vegetal,0.0,NaN,0.0,NaN,...,NaN,NaN,2912410.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Generating great_import_from_undern_countries variable**

In [70]:
# Creating a new Dataframe copy by value so that original will not modified.
people_undernourished_df = data_undernourished

# Repassing undernourished based on a specific year range in this case 2014 to 2017.
dictionary_year = {'2012-2014': 2013, '2013-2015':2014, '2014-2016': 2015, '2015-2017':2016, '2016-2018': 2017}
people_undernourished_df['year'] = people_undernourished_df['year'].map(dictionary_year)

# Creating another dataframe, this time keeping only the 'Area Code', 'Area', 'Year', 'Value' columns
undernourished_data = people_undernourished_df[['country_code', 'country', 'year', 'value']]

# Renaming its value for clarity.
undernourished_data = undernourished_data.rename(columns={'value': 'u_population'})
# Selecting specifics year range from 2014 to 2017
undernourished_data = undernourished_data[(undernourished_data.year != 2013) & (undernourished_data.year != 2015) & (undernourished_data.year != 2016)]

undernourished_data['u_population'] = pd.to_numeric(undernourished_data.u_population, errors ='coerce')
# Recalculating values based on its unit.
undernourished_data['u_population'] *= 1000000
undernourished_data = undernourished_data[undernourished_data.country_code != 351]
#Creating pop_data with only need columns
pop_data = data_population[['country_code', 'country', 'year', 'value']]
pop_data.columns = ['country_code', 'country', 'year', 'population']

# reformatting values according to its unit.
pop_data['population'] = pop_data.population * 1000
pop_data = pop_data[pop_data.country_code != 351]

# Merging it with population based on country code sort that for every county has its population and its undernourished value.
pop_data = pd.merge(undernourished_data, pop_data, on=['country_code', 'country', 'year'] )
mask = pop_data["population"] != 0 # because it's not possible to divide by 0

# Calculating undernourished in percentage.
pop_data.loc[mask, 'u_percentage'] = 100 * pop_data.loc[mask, "u_population"] / pop_data.loc[mask, "population"]
pop_data = pop_data[['country_code', 'country', 'year', 'population', 'u_population','u_percentage']]
pop_data.head()

/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/645055834.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data['population'] = pop_data.population * 1000

   country_code      country  year  population  u_population  u_percentage
0             2  Afghanistan  2014  33370790.0     8800000.0     26.370368
1             2  Afghanistan  2017  36296110.0    10600000.0     29.204232
2             3      Albania  2014   2896300.0      200000.0      6.905362
3             3      Albania  2017   2884170.0      200000.0      6.934404
4             4      Algeria  2014  38923690.0     1600000.0      4.110607

In [71]:
# Creating a merged dataframe containing the initial global food balance sheet data,
# including the extra 7 columns created during Task 4 so far
data = pd.merge(data, pop_data, on=['country_code', 'country', 'year'] )
data = data.rename(columns={'population_y':'population'})

data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,population,u_population,u_percentage
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,380.0,...,1.104488e+12,3.293266e+07,380000000.0,2906.546859,8.666489,1.857283e+12,5.537887e+07,2912410.0,100000.0,3.433582
1,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,145.0,3.0,...,8.504237e+09,2.870180e+05,3000000.0,2834.745733,9.567267,5.556102e+11,1.875184e+07,2912410.0,100000.0,3.433582
2,1,Armenia,2514,Maize and products,2014,vegetal,88.0,NaN,64.0,18.0,...,6.378178e+10,3.337913e+06,18000000.0,3543.432167,18.543962,3.118220e+11,1.631869e+07,2912410.0,100000.0,3.433582
3,1,Armenia,2515,Rye and products,2014,vegetal,1.0,NaN,1.0,0.0,...,1.063030e+09,3.189089e+04,0.0,NaN,NaN,NaN,NaN,2912410.0,100000.0,3.433582
4,1,Armenia,2516,Oats,2014,vegetal,8.0,NaN,6.0,1.0,...,5.315148e+09,2.019756e+05,1000000.0,5315.148250,20.197563,4.252119e+10,1.615805e+06,2912410.0,100000.0,3.433582

**Generating top 25 exports based on the undernourished percentage variable**

In [72]:
#Creating the 25 most exported products.
most_exported_products = data[data.u_percentage >=10]
#Saving the top 25 sum grouped by our selected year 2014 and 2017.
most_exported_products_2014 = most_exported_products[most_exported_products.year == 2014].groupby([ 'year','item_code','item'], as_index = False)[['export_quantity']].sum().sort_values(by=['export_quantity'], ascending=False).head(25)
most_exported_products_2017 = most_exported_products[most_exported_products.year == 2017].groupby([ 'year','item_code','item'], as_index = False)[['export_quantity']].sum().sort_values(by=['export_quantity'], ascending=False).head(25)

#Create the top 25 selected year data frame and updating its index.
most_exported_products = pd.concat([most_exported_products_2014, most_exported_products_2017])
most_exported_products = most_exported_products.reset_index(drop = True)

#example for 2014
most_exported_products.head()

   year  item_code                    item  export_quantity
0  2014       2805       Rice and products          34875.0
1  2014       2542  Sugar (Raw Equivalent)           9630.0
2  2014       2532    Cassava and products           7529.0
3  2014       2514      Maize and products           7475.0
4  2014       2615                 Bananas           7450.0

In [73]:
#example for 2017
most_exported_products.tail()

    year  item_code                     item  export_quantity
45  2017       2531    Potatoes and products           1257.0
46  2017       2543        Sweeteners, Other           1245.0
47  2017       2560    Coconuts - Incl Copra           1138.0
48  2017       2848  Milk - Excluding Butter           1022.0
49  2017       2765              Crustaceans            977.0

**Generating top 200 imports based on the top 25 most exported products items**

In [74]:
# Saving our most exported items based on most exported products items years from 2014 and 2017.
most_exported_items_2014 = list(most_exported_products_2014['item'])
most_exported_items_2017 = list(most_exported_products_2017['item'])

# Creating the top 200 from 2014.
most_imported_200_items_2014 = data[data.year==2014]
most_imported_200_items_2014 = most_imported_200_items_2014[most_imported_200_items_2014.item.isin(most_exported_items_2014)] \
.groupby(['country', 'item', 'year'], as_index = False)[['import_quantity']].sum().sort_values(by=['import_quantity'], ascending=False).head(200)

# Creating the top 200 from 2017.
most_imported_200_items_2017 = data[data.year==2017]
most_imported_200_items_2017 = most_imported_200_items_2017[most_imported_200_items_2017.item.isin(most_exported_items_2017)] \
.groupby(['country', 'item', 'year'], as_index = False)[['import_quantity']].sum().sort_values(by=['import_quantity'], ascending=False).head(200)

#Creating the most imported 200 items with the selected years.
most_imported_200_items = pd.concat([most_imported_200_items_2014, most_imported_200_items_2017])
most_imported_200_items = most_imported_200_items.reset_index(drop = True)

# From the most imported 200 items i create the great_import_from_undern_countries flag or mask to be used for
# further calculation.
most_imported_200_items['great_import_from_undern_countries'] = True

#example for 2014
most_imported_200_items.head()

,country,item,year,import_quantity,great_import_from_undern_countries
0,"China, mainland",Soyabeans,2014,71406.0,True
1,"China, mainland",Cassava and products,2014,35345.0,True
2,Japan,Maize and products,2014,15037.0,True
3,Egypt,Wheat and products,2014,11207.0,True
4,Republic of Korea,Maize and products,2014,10840.0,True

In [75]:
#example for 2017
most_imported_200_items.tail()

,country,item,year,import_quantity,great_import_from_undern_countries
395,Ethiopia,Wheat and products,2017,1175.0,True
396,Bangladesh,Maize and products,2017,1172.0,True
397,Ecuador,Wheat and products,2017,1170.0,True
398,Morocco,Sugar (Raw Equivalent),2017,1167.0,True
399,Brazil,Milk - Excluding Butter,2017,1155.0,True

In [76]:
# Save most imported 200 items to our main data frame.
data = pd.merge(data, most_imported_200_items, on=['country','item','year','import_quantity'], how='left' )
# selecting macking sure that our data great_import_from_undern_countries that are NaN are boolean false.
data["great_import_from_undern_countries"] = data["great_import_from_undern_countries"].fillna(False)
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,feed,food,...,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,population,u_population,u_percentage,great_import_from_undern_countries
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,110.0,380.0,...,3.293266e+07,380000000.0,2906.546859,8.666489,1.857283e+12,5.537887e+07,2912410.0,100000.0,3.433582,False
1,1,Armenia,2513,Barley and products,2014,vegetal,196.0,0.0,145.0,3.0,...,2.870180e+05,3000000.0,2834.745733,9.567267,5.556102e+11,1.875184e+07,2912410.0,100000.0,3.433582,False
2,1,Armenia,2514,Maize and products,2014,vegetal,88.0,NaN,64.0,18.0,...,3.337913e+06,18000000.0,3543.432167,18.543962,3.118220e+11,1.631869e+07,2912410.0,100000.0,3.433582,False
3,1,Armenia,2515,Rye and products,2014,vegetal,1.0,NaN,1.0,0.0,...,3.189089e+04,0.0,NaN,NaN,NaN,NaN,2912410.0,100000.0,3.433582,False
4,1,Armenia,2516,Oats,2014,vegetal,8.0,NaN,6.0,1.0,...,2.019756e+05,1000000.0,5315.148250,20.197563,4.252119e+10,1.615805e+06,2912410.0,100000.0,3.433582,False

# Task 5 : Identify major trends

In [77]:
# Assign vegetal oring values only to vegetables_data to be used on question that require only vegetables
vegetables_data = data[:][data.origin == 'vegetal']

**1. Considering only plant products, what proportion of the global domestic supply is used as :**
    * food
    * feed
    * losses
    * other uses

In [78]:
# Calculating the total global of all origin vegetables.
used_plants_supply = data[data.origin == 'vegetal'].groupby(['year'], as_index = False)[['food', 'feed', 'losses', 'other_uses_non_food']].sum()

# Caculating the domestic supply total.
domestic_supply_quantity_total = data[data.origin == 'vegetal'].groupby(['year'], as_index = False).domestic_supply_quantity.sum()

# Dividing the values in our used_plants_supply list by the 'domestic_supply_quantity' column value to get our list of proportions
used_plants_supply['domestic_supply_quantity'] = domestic_supply_quantity_total.domestic_supply_quantity
used_plants_supply=  pd.melt(used_plants_supply, id_vars=['year', 'domestic_supply_quantity'])

# divide food, feed, losses, other_uses_non-food by domestic_supply_quantity to get ist global supply proportions.
# divide by domestic surpply.
used_plants_supply['proportion'] = (100*used_plants_supply['value'] / used_plants_supply.domestic_supply_quantity).round(2)
used_plants_supply = used_plants_supply[['year','variable', 'proportion']]
used_plants_supply = used_plants_supply.groupby(['year', 'variable']).sum()

# Results
used_plants_supply

                          proportion
year variable
2014 feed                      14.22
     food                      42.29
     losses                     6.06
     other_uses_non_food        8.78
2017 feed                      14.48
     food                      41.89
     losses                     6.03
     other_uses_non_food        9.06

**2. How many humans on earth could be fed if all the plant-based food supply (crops),
including food and feed, was used for human consumption? Give the results in terms of calories, and protein.
Express these two results as a percentage of the world's population.**

In [79]:
# Daily kcal, protein recommend Per capita and global average weight
# according to Wikipedia https://en.wikipedia.org/wiki/Human_body_weight.
NB_KCAL_PER_CAPITA_PER_DAY = 2500
KG_PROT_PER_CAPITA_PER_DAY = 62 * 0.008

# Creating our dataframe, by filtering the big dataframe (data) by the "origin == 'vegetal'" condition
# while keeping only a handful of columns
plants_human_consumption = data[data.origin == 'vegetal']
plants_human_consumption = plants_human_consumption[['country','year', 'item_code', 'item', 'feed', 'food', 'ratio_kcalkg', 'protein_percentage']]

# Calculating food_feed_kcal using it unit 10^6 extracting its kcal value from ration kcal kg.
# Calculating food_feed_kgprot using it unit 10^6 extracting its kg value from protein percentage removing its percentage  0.1.
plants_human_consumption['food_feed_kcal'] = (plants_human_consumption.feed + plants_human_consumption.food) * np.power(10,6) * plants_human_consumption.ratio_kcalkg
plants_human_consumption['food_feed_kg_protein'] = ( np.power(10,6) * (plants_human_consumption.feed + plants_human_consumption.food)) * plants_human_consumption.protein_percentage / 100

# Removing anomaly NaN.
plants_human_consumption["food_feed_kcal"] = plants_human_consumption.food_feed_kcal.fillna(0)
plants_human_consumption["food_feed_kg_protein"] = plants_human_consumption.food_feed_kg_protein.fillna(0)

# Calculating food_feed_kcal and food_feed_kg_protein sum by year.
plants_human_consumption = plants_human_consumption.groupby(['year'], as_index = False)[['food_feed_kcal', 'food_feed_kg_protein']].sum()

## Creating food feed quantities in oder calculating its humans nutrients recommend values.
# Recommended food and feed per capita
plants_human_consumption['human_feed_energy'] = plants_human_consumption.food_feed_kcal / NB_KCAL_PER_CAPITA_PER_DAY / 365
plants_human_consumption['human_feed_energy'] = plants_human_consumption.human_feed_energy.round(0)

plants_human_consumption['human_feed_proteins'] = plants_human_consumption.food_feed_kg_protein / KG_PROT_PER_CAPITA_PER_DAY / 365
plants_human_consumption['human_feed_proteins'] = plants_human_consumption.human_feed_proteins.round(0)

# Creating the population dataframe and calculating the total population for both 2014 and 2017
tmp_total_pop = data_population
tmp_total_pop = tmp_total_pop[tmp_total_pop['flag_description'] == 'Standardized data']
tmp_total_pop = 1000 * tmp_total_pop.groupby(['year']).value.sum()

# Preparing tor results.
plants_human_consumption = pd.merge(plants_human_consumption, tmp_total_pop, left_on='year', right_on='year')
plants_human_consumption = plants_human_consumption.rename(columns={"value": "population"})

# Calculating the percentage of Engine and Protein need for the global population.
plants_human_consumption['percentage_human_feed_energy'] = 100 * plants_human_consumption.human_feed_energy / plants_human_consumption.population
plants_human_consumption['percentage_human_feed_proteins'] = 100 * plants_human_consumption.human_feed_proteins / plants_human_consumption.population

# Results
plants_human_consumption[['year','percentage_human_feed_energy', 'percentage_human_feed_proteins']]

   year  percentage_human_feed_energy  percentage_human_feed_proteins
0  2014                    125.175239                       14.840902
1  2017                    112.624625                       14.604608

**3. How many humans could be fed with the global food supply? Give the results in terms of calories and protein.
Express these two results as a percentage of the world's population.**

In [80]:
# Creating our dataframe, this time keeping the big dataframe (data) as it is
# while still keeping only a handful of columns
total_human_feed= data
total_human_feed = total_human_feed[['country','year', 'item_code', 'item', 'feed', 'food', 'ratio_kcalkg', 'protein_percentage']]

# Creating the two new columns kcal and food_feed_kg_protein
total_human_feed['food_feed_kcal'] = (total_human_feed.feed + total_human_feed.food) * np.power(10,6) * total_human_feed.ratio_kcalkg
total_human_feed['food_feed_kg_protein'] = np.power(10,6) * (total_human_feed.feed + total_human_feed.food) * (total_human_feed.protein_percentage /100)

# Replacing the NaN values with zeros.
total_human_feed["food_feed_kcal"] = total_human_feed.food_feed_kcal.fillna(0)
total_human_feed["food_feed_kg_protein"] = total_human_feed.food_feed_kg_protein.fillna(0)

# Grouping by year and summing the two new columns
total_human_feed = total_human_feed.groupby(['year'], as_index = False)[['food_feed_kcal', 'food_feed_kg_protein']].sum()

# Creating new columns calculating the amount of people that could've been fed (in 2014 and 2017)
# First, by the amount of kcal in the crops.
total_human_feed['human_feed_energy'] = total_human_feed.food_feed_kcal / NB_KCAL_PER_CAPITA_PER_DAY / 365
total_human_feed['human_feed_energy'] = total_human_feed.human_feed_energy.round(0)

# Second, by the amount of protein in the crops
total_human_feed['human_feed_proteins'] = total_human_feed.food_feed_kg_protein / KG_PROT_PER_CAPITA_PER_DAY / 365
total_human_feed['human_feed_proteins'] = total_human_feed.human_feed_proteins.round(0)


# Preparing the results.
total_human_feed = pd.merge(total_human_feed, tmp_total_pop, left_on='year', right_on='year')
total_human_feed = total_human_feed.rename(columns={"value": "population"})

# Calculating the percentage of Engine and Protein need for the global population . use the population from pop
total_human_feed['percentage_human_feed_energy'] = 100 * total_human_feed.human_feed_energy / total_human_feed.population
total_human_feed['percentage_human_feed_proteins'] = 100 * total_human_feed.human_feed_proteins / total_human_feed.population

# Results.
total_human_feed[['year','percentage_human_feed_energy', 'percentage_human_feed_proteins']]

/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/3397574853.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_human_feed['food_feed_kcal'] = (total_human_feed.feed + total_human_feed.food) * np.power(10,6) * total_human_feed.ratio_kcalkg
/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/3397574853.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_human_feed['food_feed_kg_protein'] = np.power(10,6) * (total_human_feed.feed + total_human_feed.food) * (total_human_feed.protein_percentage /100)
/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/3397574853.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_human_feed["food_feed_kcal"] = total_human_feed.food_feed_kcal.fillna(0)
/var/folders/6t/cs55bt816j7360h_wfmskqtm0000gn/T/ipykernel_51105/3397574853.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_human_feed["food_feed_kg_protein"] = total_human_feed.food_feed_kg_protein.fillna(0)

   year  percentage_human_feed_energy  percentage_human_feed_proteins
0  2014                    140.873571                       19.329163
1  2017                    122.114983                       17.819073

**4. From the collected data on undernutrition, what proportion of the world's population is considered undernourished?**

In [81]:
#Calculating the sum of the population by year.
undernourished_proportion = pop_data.groupby(['year'])[['population', 'u_population']].sum()

# Calculating the undernourished_proportion for the range year from 2014 to 2017.
undernourished_proportion = 100 * undernourished_proportion.u_population/undernourished_proportion.population

# Preparing the results
undernourished = pd.DataFrame({'proportion':undernourished_proportion}, [2014, 2017])
# Results
undernourished

      proportion
2014   10.325170
2017   10.202092

**5. Considering the 25 items most exported by the countries with a high rate of undernutrition, which three of them:**
    1 Have the greatest other_uses_non_food to domestic_supply_quantity ratioÂ and what are they used for?
    2 Have the greatest feedÂ to (food+feed) ratio and what are they used for?

*1 Have the greatest feedÂ to (food+feed) ratio and what are they used for?*

In [82]:

# Create ratio nbsp 2014 based on the most exported items with the selected columns.
ratio_nbsp_2014 = data[data.year == 2014]
ratio_nbsp_2014 = ratio_nbsp_2014[ratio_nbsp_2014.item.isin(most_exported_items_2014)].groupby(['country', 'item', 'year'], as_index = False)[['other_uses_non_food', 'domestic_supply_quantity']].sum()

#Mask safe division
safe_div_mask = ratio_nbsp_2014.domestic_supply_quantity != 0

# Calculating the proportion of the most exported items in the other uses non food, ratio nbsp 2014 related to domestic supply quantity.
ratio_nbsp_2014.loc[safe_div_mask,'ratio'] = ratio_nbsp_2014.loc[safe_div_mask, 'other_uses_non_food'] / ratio_nbsp_2014.loc[safe_div_mask, 'domestic_supply_quantity']
ratio_nbsp_2014.ratio = ratio_nbsp_2014.ratio.fillna(0)
ratio_nbsp_2014 = ratio_nbsp_2014.sort_values(by = ['ratio'], ascending = False).head(3)

# Create ratio nbsp 2017 based on the most exported items with the selected columns.
ratio_nbsp_2017 = data[data.year == 2017]
ratio_nbsp_2017 = ratio_nbsp_2017[ratio_nbsp_2017.item.isin(most_exported_items_2017)].groupby(['country', 'item', 'year'], as_index = False)[['other_uses_non_food', 'domestic_supply_quantity']].sum()

#Mask safe division
safe_div_mask = ratio_nbsp_2017.domestic_supply_quantity != 0

# Calculating the proportion of the most exported items in the other uses non food, ratio nbsp 2017 related to domestic supply quantity.
ratio_nbsp_2017.loc[safe_div_mask,'ratio'] = ratio_nbsp_2017.loc[safe_div_mask, 'other_uses_non_food'] / ratio_nbsp_2017.loc[safe_div_mask, 'domestic_supply_quantity']
ratio_nbsp_2017.ratio = ratio_nbsp_2017.ratio.fillna(0)
ratio_nbsp_2017 = ratio_nbsp_2017.sort_values(by = ['ratio'], ascending = False).head(3)

# Preparing the results
results = pd.concat([ratio_nbsp_2014, ratio_nbsp_2017]).reset_index(drop= True)

results

,country,item,year,other_uses_non_food,domestic_supply_quantity,ratio
0,Egypt,Cassava and products,2014,2.0,1.0,2.000000
1,"China, Taiwan Province of",Cassava and products,2014,337.0,308.0,1.094156
2,Italy,Cassava and products,2014,2.0,2.0,1.000000
3,Spain,"Sweeteners, Other",2017,123.0,28.0,4.392857
4,Malaysia,"Sweeteners, Other",2017,58.0,22.0,2.636364
5,United Arab Emirates,Cocoa Beans and products,2017,5.0,2.0,2.500000

*2 Have the greatest feedÂ to (food+feed) ratio and what are they used for?*

In [83]:
# Create ratio feed food nbsp 2014 based on the most exported items with the selected columns.
ratio_feed_food_nbsp_2014 = data[data.year == 2014]
ratio_feed_food_nbsp_2014 = ratio_feed_food_nbsp_2014[ratio_feed_food_nbsp_2014.item.isin(most_exported_items_2014)].groupby(['country', 'item', 'year'], as_index = False)[['food', 'feed']].sum()

#Mask safe division
safe_div_mask = (ratio_feed_food_nbsp_2014.food + ratio_feed_food_nbsp_2014.feed) != 0

# Calculating the proportion of the most exported items in the other uses non food, ratio feed food nbsp 2014 related to domestic supply quantity.
ratio_feed_food_nbsp_2014.loc[safe_div_mask,'ratio'] = ratio_feed_food_nbsp_2014.loc[safe_div_mask, 'feed'] / (ratio_feed_food_nbsp_2014.loc[safe_div_mask, 'feed'] + ratio_feed_food_nbsp_2014.loc[safe_div_mask, 'food'])
ratio_feed_food_nbsp_2014.ratio = ratio_feed_food_nbsp_2014.ratio.fillna(0)
ratio_feed_food_nbsp_2014 = ratio_feed_food_nbsp_2014.sort_values(by = ['ratio'], ascending = False).head(3)

ratio_feed_food_nbsp_2017 = data[data.year == 2017]
ratio_feed_food_nbsp_2017 = ratio_feed_food_nbsp_2017[ratio_feed_food_nbsp_2017.item.isin(most_exported_items_2017)].groupby(['country', 'item', 'year'], as_index = False)[['food', 'feed']].sum()

#Mask safe division
safe_div_mask = (ratio_feed_food_nbsp_2017.food + ratio_feed_food_nbsp_2017.feed) != 0

# Calculating the proportion of the most exported items in the other uses non food, ratio nbsp 2017 related to domestic supply quantity.
ratio_feed_food_nbsp_2017.loc[safe_div_mask,'ratio'] = ratio_feed_food_nbsp_2017.loc[safe_div_mask, 'feed'] / (ratio_feed_food_nbsp_2017.loc[safe_div_mask, 'feed'] + ratio_feed_food_nbsp_2017.loc[safe_div_mask, 'food'])
ratio_feed_food_nbsp_2017.ratio = ratio_feed_food_nbsp_2017.ratio.fillna(0)
ratio_feed_food_nbsp_2017 = ratio_feed_food_nbsp_2017.sort_values(by = ['ratio'], ascending = False).head(3)

# Concatenating the two dataframes
results = pd.concat([ratio_feed_food_nbsp_2014, ratio_feed_food_nbsp_2017]).reset_index(drop=True)

results

,country,item,year,food,feed,ratio
0,Italy,Cassava and products,2014,0.0,1.0,1.0
1,Venezuela (Bolivarian Republic of),Soyabeans,2014,0.0,54.0,1.0
2,Tajikistan,Soyabeans,2014,0.0,2.0,1.0
3,Benin,Soyabeans,2017,0.0,2.0,1.0
4,Sri Lanka,Soyabeans,2017,0.0,1.0,1.0
5,Turkey,Cassava and products,2017,0.0,259.0,1.0

**6. Taking only grains (cereals) for food and feed into account, what proportion (in terms of weight) is used for feed?**

In [84]:
# Creating only cereal columns on the all food and animal data set.
cereals_data = pd.read_csv("../data/latest_v3/cereals.csv")
cereals = cereals_data['Item'].unique()
cereals

#Selecting items and food and feed columns cereals only
only_cereal = data[data['item'].isin(cereals)].groupby(['year'], as_index = False)[['food', 'feed']].sum()

#Mask safe division
safe_div_mask = (only_cereal["food"]+ only_cereal["feed"]) != 0

# Preparing the results food and feed proportion ass percentage
only_cereal.loc[safe_div_mask,'percentage'] = round(100*only_cereal.loc[safe_div_mask, 'feed']/(only_cereal.loc[safe_div_mask, 'food'] + only_cereal.loc[safe_div_mask, 'feed']))
only_cereal[['year', 'percentage']]

   year  percentage
0  2014        43.0
1  2017        44.0

**7. How many tons of grains (cereals) could be released if the US reduced its production of animal products by 10%?
Convert this quantity to kcal, and the number of potentially fed humans.**

In [85]:
# Creating USA cereal only data set for the last year in this case 2017.
USA_Cereals_data = data[data.item.isin(cereals)]
USA_Cereals_data = USA_Cereals_data[USA_Cereals_data.country == 'United States of America']
USA_Cereals_data = USA_Cereals_data[USA_Cereals_data.year == 2017]

# Calculating the total USA cereals feed of 10% in kg.
USA_Cereals_dataa = USA_Cereals_data.feed.sum()*1000*0.1

# Calculating the total USA cereals feed of 10% in kcal.
USA_Cereals_datab = round((USA_Cereals_data.feed*1000*0.1  * USA_Cereals_data.ratio_kcalkg).sum(), 0)

# Calculating the total of feed Humans energy with the USA cereals only.
USA_Cereals_datac = round(USA_Cereals_datab/NB_KCAL_PER_CAPITA_PER_DAY, 0)

#Preparing the results.
results = pd.DataFrame(np.array([[USA_Cereals_dataa, USA_Cereals_datab, USA_Cereals_datac]]), columns=['10%_feed_kg', '10%_feed_kcal', 'potential_humans_fed'])
results

   10%_feed_kg  10%_feed_kcal  potential_humans_fed
0   14042400.0   3.915597e+10            15662387.0

**8. In Thailand, what proportion of cassava is exported? What is the proportion of undernutrition?**

In [86]:
# Creating Thailand vegetables data set.
thai_vegetables_data = data[data.country == 'Thailand']

# Filtering Cassava Products from Thailand vegetables.
thai_vegetables_data = thai_vegetables_data[thai_vegetables_data.item == 'Cassava and products']

# Selecting the need columns.
thai_vegetables_data = thai_vegetables_data[['year','country','item','domestic_supply_quantity', 'export_quantity', 'feed', 'food', 'import_quantity', 'losses',
         'other_uses_non_food', 'processing', 'production', 'seed', 'stock_variation', 'u_percentage']]

# Calculating the proportion of Cassava production export.
thai_vegetables_data['proportion_exported_quantity'] = 100*(thai_vegetables_data['feed'] + thai_vegetables_data['food'] + thai_vegetables_data['losses'] + thai_vegetables_data['other_uses_non_food'])/thai_vegetables_data['export_quantity']
thai_vegetables_data[['year','country','item','proportion_exported_quantity', 'u_percentage']].set_index('year')

,country,item,proportion_exported_quantity,u_percentage
year,,,,
2014,Thailand,Cassava and products,25.425589,8.036383
2017,Thailand,Cassava and products,28.882315,7.802362